#**Giai đoạn 2: Chuyển đổi dữ liệu (Transform)**

## **Install and Import Libraries**

In [ ]:
!pip install --upgrade gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.13.4)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.2.2)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
import numpy as np
import pandas as pd
import re

## **Data Consolidation**

In [ ]:
# https://drive.google.com/file/d/1RODq8LTqSXXLhnmk_1Dza6uQIyAjvMhp/view?usp=sharing
# Download dataset
!gdown --id 1RODq8LTqSXXLhnmk_1Dza6uQIyAjvMhp

/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:132: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1RODq8LTqSXXLhnmk_1Dza6uQIyAjvMhp
To: /content/Global YouTube Statistics.csv
100% 200k/200k [00:00<00:00, 86.9MB/s]

In [ ]:
# Read dataset
data = pd.read_csv('/content/Global YouTube Statistics.csv', encoding='unicode_escape')

## **Data Exploration**

In [ ]:
data.head(10)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,...,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
7,8,PewDiePie,111000000,2.905804e+10,Gaming,PewDiePie,4716,Japan,JP,Entertainment,...,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
9,10,Vlad and Niki,98900000,7.718017e+10,Entertainment,Vlad and Niki,574,United States,US,Entertainment,...,600000.0,2018.0,Apr,23.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

In [ ]:
data.tail(10)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
985,986,TKOR,12400000,3.392023e+09,Education,TKoR,0,NaN,NaN,People,...,NaN,2006.0,Aug,16.0,NaN,NaN,NaN,NaN,NaN,NaN
986,987,ANNA KOVA,12400000,1.395959e+10,People & Blogs,annakova,1,NaN,NaN,Film,...,NaN,2006.0,Jun,18.0,NaN,NaN,NaN,NaN,NaN,NaN
987,988,Avril Lavigne,12400000,6.202090e+09,Music,Avril Lavigne,205,United States,US,Music,...,NaN,2005.0,Oct,8.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
988,989,Caylus,12400000,4.779140e+09,Education,Caylus,1340,United States,US,Games,...,400000.0,2016.0,Apr,6.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
989,990,Migos ATL,12400000,6.993406e+09,Music,Migos ATL,99,United States,US,Entertainment,...,100000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

**Ghi chú:** Cột Youtuber chứa các ký tự lạ như ï¿ => xử lý các ký tự này.

In [ ]:
# Check number of rows and columns
data.shape

(995, 28)

In [ ]:
# Check info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB

In [ ]:
# List all columns
data.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

## **Data Cleaning**

### 1. Đổi tên và Loại bỏ cột

Đổi tên cột bằng cách thay thế dấu "_" bằng khoảng trắng và viết hoa các từ.

In [ ]:
# Rename columns
data.columns = data.columns.str.replace('_',' ')
data.columns = data.columns.str.title()
data.columns

Index(['Rank', 'Youtuber', 'Subscribers', 'Video Views', 'Category', 'Title',
       'Uploads', 'Country', 'Abbreviation', 'Channel Type',
       'Video Views Rank', 'Country Rank', 'Channel Type Rank',
       'Video Views For The Last 30 Days', 'Lowest Monthly Earnings',
       'Highest Monthly Earnings', 'Lowest Yearly Earnings',
       'Highest Yearly Earnings', 'Subscribers For Last 30 Days',
       'Created Year', 'Created Month', 'Created Date',
       'Gross Tertiary Education Enrollment (%)', 'Population',
       'Unemployment Rate', 'Urban Population', 'Latitude', 'Longitude'],
      dtype='object')

Loại bỏ các cột không cần thiết.

In [ ]:
# Drop columns
data = data.drop(columns=["Title", "Video Views For The Last 30 Days",
                          "Subscribers For Last 30 Days", "Latitude", "Longitude", "Abbreviation"])

### 2. Loại bỏ ký tự lạ và Trùng lặp của cột Youtuber

Loại bỏ các ký tự lạ trong danh sách.

In [ ]:
pattern = r'[^a-zA-Z0-9\s.,!?&\'-]'

In [ ]:
# Remove special characters
data['Youtuber'] = data['Youtuber'].apply(lambda x: re.sub(pattern, '', x))
data['Youtuber'] = data['Youtuber'].str.strip()
data['Youtuber'] = data['Youtuber'].str.lstrip('- ')

In [ ]:
data.tail(10)

,Rank,Youtuber,Subscribers,Video Views,Category,Uploads,Country,Channel Type,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
985,986,TKOR,12400000,3.392023e+09,Education,0,NaN,People,4057944.0,NaN,...,0.00,0.00,0.0,2006.0,Aug,16.0,NaN,NaN,NaN,NaN
986,987,ANNA KOVA,12400000,1.395959e+10,People & Blogs,1,NaN,Film,4049634.0,NaN,...,0.01,0.01,0.1,2006.0,Jun,18.0,NaN,NaN,NaN,NaN
987,988,Avril Lavigne,12400000,6.202090e+09,Music,205,United States,Music,999.0,176.0,...,200800.00,150600.00,2400000.0,2005.0,Oct,8.0,88.2,3.282395e+08,14.70,270663028.0
988,989,Caylus,12400000,4.779140e+09,Education,1340,United States,Games,1442.0,175.0,...,710400.00,532800.00,8500000.0,2016.0,Apr,6.0,88.2,3.282395e+08,14.70,270663028.0
989,990,Migos ATL,12400000,6.993406e+09,Music,99,United States,Entertainment,833.0,175.0,...,197600.00,148200.00,2400000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0
990,991,Natan por A,12300000,9.029610e+09,Sports,1200,Brazil,Entertainment,525.0,55.0,...,2200000.00,1700000.00,26500000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,1500,India,Games,6141.0,125.0,...,258900.00,194200.00,3100000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0
992,993,Panda,12300000,2.214684e+09,NaN,2452,United Kingdom,Games,129005.0,867.0,...,268.00,201.00,3200.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0
993,994,RobTopGames,12300000,3.741235e+08,Gaming,39,Sweden,Games,35112.0,4.0,...,15500.00,11600.00,185800.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,62,India,Comedy,4568.0,125.0,...,96000.00,72000.00,1200000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0

Loại bỏ các dòng dữ liệu chứa giá trị rỗng trong cột Youtuber.

In [ ]:
# Check Youtuber column after remomving characters
blanks_data_youtuber = data[data['Youtuber'] == '']
blanks_data_youtuber

,Rank,Youtuber,Subscribers,Video Views,Category,Uploads,Country,Channel Type,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
64,65,,43200000,3.645873e+10,Film & Animation,1478,Russia,Education,26.0,2.0,...,1200000.0,911300.0,14600000.0,2011.0,May,31.0,81.9,144373535.0,4.59,107683889.0
161,162,,30400000,1.799996e+10,NaN,532,United States,Entertainment,147.0,46.0,...,491700.0,368800.0,5900000.0,2018.0,Nov,3.0,88.2,328239523.0,14.70,270663028.0
433,434,,19000000,4.924054e+09,Education,60,United States,Entertainment,1399.0,116.0,...,86300.0,64800.0,1000000.0,2018.0,Feb,20.0,88.2,328239523.0,14.70,270663028.0
447,448,,18800000,9.594189e+09,Entertainment,530,Ukraine,Entertainment,483.0,2.0,...,272000.0,204000.0,3300000.0,2014.0,Oct,20.0,82.7,44385155.0,8.88,30835699.0
561,562,,16500000,2.440934e+09,Entertainment,421,United States,Entertainment,3778.0,137.0,...,87800.0,65900.0,1100000.0,2014.0,Mar,9.0,88.2,328239523.0,14.70,270663028.0
606,607,,15900000,1.845330e+09,People & Blogs,0,Russia,Games,4057944.0,3309.0,...,0.0,0.0,0.0,2017.0,May,27.0,81.9,144373535.0,4.59,107683889.0
632,633,,15500000,8.265130e+09,Shows,1021,Saudi Arabia,Film,619.0,4.0,...,540100.0,405100.0,6500000.0,2017.0,May,16.0,68.0,34268528.0,5.93,28807838.0
700,701,,14900000,4.390980e+05,People & Blogs,1,Russia,News,3609784.0,10.0,...,31.0,23.0,369.0,2008.0,Aug,11.0,81.9,144373535.0,4.59,107683889.0
707,708,,14800000,7.018015e+09,Howto & Style,2387,Ukraine,Howto,828.0,3.0,...,188500.0,141400.0,2300000.0,2015.0,Oct,12.0,82.7,44385155.0,8.88,30835699.0
714,715,,14700000,2.230986e+09,Entertainment,1385,Saudi Arabia,Entertainment,4276.0,5.0,...,10800.0,8100.0,129300.0,2016.0,May,27.0,68.0,34268528.0,5.93,28807838.0
752,753,,14400000,6.001543e+08,Entertainment,364,South Korea,Entertainment,21132.0,14.0,...,5500.0,4100.0,65700.0,2017.0,Mar,8.0,94.3,51709098.0,4.15,42106719.0
784,785,,14100000,3.920221e+09,Entertainment,65,NaN,NaN,3999155.0,NaN,...,81.0,61.0,977.0,2017.0,Aug,4.0,NaN,NaN,NaN,NaN
795,796,,14000000,7.719743e+09,Gaming,2210,Russia,Games,703.0,12.0,...,602300.0,451700.0,7200000.0,2013.0,Oct,26.0,81.9,144373535.0,4.59,107683889.0
810,811,,13900000,8.451755e+09,NaN,504,United States,People,600.0,161.0,...,457000.0,342800.0,5500000.0,2018.0,Oct,12.0,88.2,328239523.0,14.70,270663028.0
866,867,,13300000,6.482687e+09,People & Blogs,608,Russia,Entertainment,927.0,13.0,...,361000.0,270700.0,4300000.0,2015.0,Oct,4.0,81.9,144373535.0,4.59,107683889.0
920,921,,12900000,5.585085e+09,Shows,1255,Ukraine,Entertainment,1164.0,6.0,...,284500.0,213400.0,3400000.0,2014.0,Jul,17.0,82.7,44385155.0,8.88,30835699.0

In [ ]:
# Remove those blank rows
data = data.drop(blanks_data_youtuber.index)
data.reset_index(drop= True, inplace= True)

Xóa bỏ trùng lặp.

In [ ]:
# Print rows that youtubers having duplicates
youtubers = data['Youtuber'].value_counts()
duplicate_youtubers = youtubers[youtubers > 1].index.tolist()

for youtuber in duplicate_youtubers:
    print(data[data['Youtuber'] == youtuber])

     Rank Youtuber  Subscribers   Video Views Category  Uploads  \
217   220   Beyonc     26000000  1.730896e+10    Music      240
913   930   Beyonc     12800000  1.418561e+10    Music      168

           Country Channel Type  Video Views Rank  Country Rank  ...  \
217  United States        Music             163.0          66.0  ...
913  United States        Music             250.0         172.0  ...

     Highest Monthly Earnings  Lowest Yearly Earnings  \
217                  221800.0                166400.0
913                  358300.0                268700.0

     Highest Yearly Earnings  Created Year  Created Month  Created Date  \
217                2700000.0        2005.0            Nov           7.0
913                4300000.0        2009.0            Sep           2.0

    Gross Tertiary Education Enrollment (%)   Population  Unemployment Rate  \
217                                    88.2  328239523.0               14.7
913                                    88.2  328239523.0               14.7

     Urban Population
217       270663028.0
913       270663028.0

[2 rows x 22 columns]
     Rank Youtuber  Subscribers   Video Views       Category  Uploads  \
860   876     BIBO     13200000  1.148422e+09  Entertainment      192
899   915     BIBO     12900000  3.178223e+09  Entertainment      193

         Country   Channel Type  Video Views Rank  Country Rank  ...  \
860       Russia  Entertainment            9855.0          13.0  ...
899  South Korea  Entertainment            2649.0          16.0  ...

     Highest Monthly Earnings  Lowest Yearly Earnings  \
860                   35100.0                 26300.0
899                   16000.0                 12000.0

     Highest Yearly Earnings  Created Year  Created Month  Created Date  \
860                 420900.0        2019.0            Jan          10.0
899                 192100.0        2016.0            Aug           8.0

    Gross Tertiary Education Enrollment (%)   Population  Unemployment Rate  \
860                                    81.9  144373535.0               4.59
899                                    94.3   51709098.0               4.15

     Urban Population
860       107683889.0
899        42106719.0

[2 rows x 22 columns]

**Ghi chú:** Có sự trùng lặp, giữ lại Youtuber có ngày tạo kênh gần nhất

In [ ]:
# Remove rank values = 220 or 915
data = data[~data['Rank'].isin([220, 915])]

In [ ]:
# Check for duplicate rows
duplicate_rows = data[data.duplicated()]

# Print the number of duplicate rows
print(f"Number of duplicates: {len(duplicate_rows)}")

# Print the duplicate rows
print(duplicate_rows)

Number of duplicates: 0
Empty DataFrame
Columns: [Rank, Youtuber, Subscribers, Video Views, Category, Uploads, Country, Channel Type, Video Views Rank, Country Rank, Channel Type Rank, Lowest Monthly Earnings, Highest Monthly Earnings, Lowest Yearly Earnings, Highest Yearly Earnings, Created Year, Created Month, Created Date, Gross Tertiary Education Enrollment (%), Population, Unemployment Rate, Urban Population]
Index: []

[0 rows x 22 columns]

### 3. Xử lý giá trị thiếu

In [ ]:
# Check info
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977 entries, 0 to 978
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     977 non-null    int64
 1   Youtuber                                 977 non-null    object
 2   Subscribers                              977 non-null    int64
 3   Video Views                              977 non-null    float64
 4   Category                                 933 non-null    object
 5   Uploads                                  977 non-null    int64
 6   Country                                  856 non-null    object
 7   Channel Type                             948 non-null    object
 8   Video Views Rank                         976 non-null    float64
 9   Country Rank                             862 non-null    float64
 10  Channel Type Rank                        945 non-null    float64
 11  Lowest Monthly Earnings                  977 non-null    float64
 12  Highest Monthly Earnings                 977 non-null    float64
 13  Lowest Yearly Earnings                   977 non-null    float64
 14  Highest Yearly Earnings                  977 non-null    float64
 15  Created Year                             972 non-null    float64
 16  Created Month                            972 non-null    object
 17  Created Date                             972 non-null    float64
 18  Gross Tertiary Education Enrollment (%)  855 non-null    float64
 19  Population                               855 non-null    float64
 20  Unemployment Rate                        855 non-null    float64
 21  Urban Population                         855 non-null    float64
dtypes: float64(14), int64(3), object(5)
memory usage: 175.6+ KB

In [ ]:
# Check missing values
data.isna().sum()

Rank                                         0
Youtuber                                     0
Subscribers                                  0
Video Views                                  0
Category                                    44
Uploads                                      0
Country                                    121
Channel Type                                29
Video Views Rank                             1
Country Rank                               115
Channel Type Rank                           32
Lowest Monthly Earnings                      0
Highest Monthly Earnings                     0
Lowest Yearly Earnings                       0
Highest Yearly Earnings                      0
Created Year                                 5
Created Month                                5
Created Date                                 5
Gross Tertiary Education Enrollment (%)    122
Population                                 122
Unemployment Rate                          122
Urban Population                           122
dtype: int64

#### Biến số

##### Video Views Rank, Country Rank, Channel Type Rank

In [ ]:
# Replace null of Video Views Rank, Country Rank, Channel Type Rank with 0
# and replace type data to int
data['Video Views Rank'] = data['Video Views Rank'].fillna(0).astype(int)
data['Country Rank'] = data['Country Rank'].fillna(0).astype(int)
data['Channel Type Rank'] = data['Channel Type Rank'].fillna(0).astype(int)

##### Created Year, Created Month, Created Date

In [ ]:
# Print rows that Created Year is null
null_created_year = data[data['Created Year'].isnull()]
null_created_year

,Rank,Youtuber,Subscribers,Video Views,Category,Uploads,Country,Channel Type,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
234,237,Chris Brown,25200000,1.552057e+10,Music,0,NaN,NaN,3612215,0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,469,Good Mythical Morning,18300000,8.798045e+09,Entertainment,0,NaN,NaN,3612215,3305,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,509,The Game Theorists,17600000,3.752347e+09,Gaming,0,Australia,NaN,3612215,6095,...,0.0,0.0,0.0,NaN,NaN,NaN,113.1,25766605.0,5.27,21844756.0
725,736,LEGENDA FUNK,14500000,2.440718e+09,Music,0,Brazil,Music,0,0,...,0.0,0.0,0.0,NaN,NaN,NaN,51.3,212559417.0,12.08,183241641.0
751,763,Harry Styles,14400000,5.689224e+09,People & Blogs,0,United States,Games,4037956,7574,...,0.0,0.0,0.0,NaN,NaN,NaN,88.2,328239523.0,14.70,270663028.0

**Ghi chú:** Created Year, Created Month, Created Date đều có 5 giá trị thiếu và trên cùng 5 dòng => chỉ cần xóa bỏ giá trị thiếu ở Created Year.

In [ ]:
# Remove null of Created Year column
data = data.dropna(subset=['Created Year'])

# Change type float64 to int64
data['Created Year'] = data['Created Year'].astype('int64')

<ipython-input-175-0534f6f2e758>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Created Year'] = data['Created Year'].astype('int64')

##### Gross Tertiary Education Enrollment, Unemployment Rate, Population, Urban Population

In [ ]:
# Change data type of Unemployment Rate to float64
data["Unemployment Rate"] = data["Unemployment Rate"].astype("float64")

<ipython-input-176-ff80ba359a34>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Unemployment Rate"] = data["Unemployment Rate"].astype("float64")

Tính toán các giá trị trung bình.

In [ ]:
# Data without null
data_not_null = data.dropna(subset= ['Gross Tertiary Education Enrollment (%)',
                                     'Unemployment Rate', 'Population', 'Urban Population'])

# Mean Education Enrollment
mean_edu = round(data_not_null['Gross Tertiary Education Enrollment (%)'].mean(),1)
print('Mean Gross Tertiary Education Enrollment:', mean_edu)

# Mean Unemployment Rate
mean_unemp = round(data_not_null['Unemployment Rate'].mean(),1)
print('Mean Unemployment Rate:', mean_unemp)

# Mean Population
mean_popu = round(data_not_null['Population'].mean(),0)
print('Mean Population:', mean_popu)

# Mean Urban Population
mean_urban = round(data_not_null['Urban Population'].mean(),0)
print('Mean Urban Population:', mean_urban)

Mean Gross Tertiary Education Enrollment: 63.2
Mean Unemployment Rate: 9.3
Mean Population: 436693609.0
Mean Urban Population: 226424465.0

Thay thế giá trị thiếu bằng giá trị trung bình.

In [ ]:
# Replace null with mean
data['Gross Tertiary Education Enrollment (%)'] = data['Gross Tertiary Education Enrollment (%)'].fillna(mean_edu)
data['Unemployment Rate'] = data['Unemployment Rate'].fillna(mean_unemp)
data['Population'] = data['Population'].fillna(mean_popu)
data['Urban Population'] = data['Urban Population'].fillna(mean_urban)

<ipython-input-178-03e05a5e44ae>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gross Tertiary Education Enrollment (%)'] = data['Gross Tertiary Education Enrollment (%)'].fillna(mean_edu)
<ipython-input-178-03e05a5e44ae>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Unemployment Rate'] = data['Unemployment Rate'].fillna(mean_unemp)
<ipython-input-178-03e05a5e44ae>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Population'] = data['Population'].fillna(mean_popu)
<ipython-input-178-03e05a5e44ae>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Urban Population'] = data['Urban Population'].fillna(mean_urban)

##### Đổi kiểu dữ liệu

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 972 entries, 0 to 978
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     972 non-null    int64
 1   Youtuber                                 972 non-null    object
 2   Subscribers                              972 non-null    int64
 3   Video Views                              972 non-null    float64
 4   Category                                 928 non-null    object
 5   Uploads                                  972 non-null    int64
 6   Country                                  853 non-null    object
 7   Channel Type                             946 non-null    object
 8   Video Views Rank                         972 non-null    int64
 9   Country Rank                             972 non-null    int64
 10  Channel Type Rank                        972 non-null    int64
 11  Lowest Monthly Earnings                  972 non-null    float64
 12  Highest Monthly Earnings                 972 non-null    float64
 13  Lowest Yearly Earnings                   972 non-null    float64
 14  Highest Yearly Earnings                  972 non-null    float64
 15  Created Year                             972 non-null    int64
 16  Created Month                            972 non-null    object
 17  Created Date                             972 non-null    float64
 18  Gross Tertiary Education Enrollment (%)  972 non-null    float64
 19  Population                               972 non-null    float64
 20  Unemployment Rate                        972 non-null    float64
 21  Urban Population                         972 non-null    float64
dtypes: float64(10), int64(7), object(5)
memory usage: 174.7+ KB

In [ ]:
# Change data type of Video Views, Video Views Rank, Created Date to int64
data['Video Views'] = data['Video Views'].astype('int64')
data['Video Views Rank'] = data['Video Views Rank'].astype('int64')
data['Created Date'] = data['Created Date'].astype('int64')
data['Population'] = data['Population'].astype('int64')
data['Urban Population'] = data['Urban Population'].astype('int64')

<ipython-input-180-0f0d22ec6219>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Video Views'] = data['Video Views'].astype('int64')
<ipython-input-180-0f0d22ec6219>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Video Views Rank'] = data['Video Views Rank'].astype('int64')
<ipython-input-180-0f0d22ec6219>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Created Date'] = data['Created Date'].astype('int64')
<ipython-input-180-0f0d22ec6219>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Population'] = data['Population'].astype('int64')
<ipython-input-180-0f0d22ec6219>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Urban Population'] = data['Urban Population'].astype('int64')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 972 entries, 0 to 978
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     972 non-null    int64
 1   Youtuber                                 972 non-null    object
 2   Subscribers                              972 non-null    int64
 3   Video Views                              972 non-null    int64
 4   Category                                 928 non-null    object
 5   Uploads                                  972 non-null    int64
 6   Country                                  853 non-null    object
 7   Channel Type                             946 non-null    object
 8   Video Views Rank                         972 non-null    int64
 9   Country Rank                             972 non-null    int64
 10  Channel Type Rank                        972 non-null    int64
 11  Lowest Monthly Earnings                  972 non-null    float64
 12  Highest Monthly Earnings                 972 non-null    float64
 13  Lowest Yearly Earnings                   972 non-null    float64
 14  Highest Yearly Earnings                  972 non-null    float64
 15  Created Year                             972 non-null    int64
 16  Created Month                            972 non-null    object
 17  Created Date                             972 non-null    int64
 18  Gross Tertiary Education Enrollment (%)  972 non-null    float64
 19  Population                               972 non-null    int64
 20  Unemployment Rate                        972 non-null    float64
 21  Urban Population                         972 non-null    int64
dtypes: float64(6), int64(11), object(5)
memory usage: 174.7+ KB

#### Biến định danh

In [ ]:
data.isna().sum()

Rank                                         0
Youtuber                                     0
Subscribers                                  0
Video Views                                  0
Category                                    44
Uploads                                      0
Country                                    119
Channel Type                                26
Video Views Rank                             0
Country Rank                                 0
Channel Type Rank                            0
Lowest Monthly Earnings                      0
Highest Monthly Earnings                     0
Lowest Yearly Earnings                       0
Highest Yearly Earnings                      0
Created Year                                 0
Created Month                                0
Created Date                                 0
Gross Tertiary Education Enrollment (%)      0
Population                                   0
Unemployment Rate                            0
Urban Population                             0
dtype: int64

##### Country

In [ ]:
# Replace null of Country with Unknown
data['Country'] = data['Country'].fillna('Unknown')

<ipython-input-183-87a91ee5c3c0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Country'] = data['Country'].fillna('Unknown')

##### Category, Channel Type

In [ ]:
# Print unique values of Category and Channel Type
print('Category:', data['Category'].unique())
print('Channel Type:', data['Channel Type'].unique())

Category: ['Music' 'Film & Animation' 'Entertainment' 'Education' 'Shows' nan
 'People & Blogs' 'Gaming' 'Sports' 'Howto & Style' 'News & Politics'
 'Comedy' 'Trailers' 'Nonprofits & Activism' 'Science & Technology'
 'Movies' 'Pets & Animals' 'Autos & Vehicles' 'Travel & Events']
Channel Type: ['Music' 'Games' 'Entertainment' 'Education' 'People' 'Sports' 'Film'
 'News' nan 'Comedy' 'Howto' 'Nonprofit' 'Autos' 'Tech' 'Animals']

In [ ]:
data[['Rank', 'Category', 'Channel Type']].head(15)

    Rank          Category   Channel Type
0      1             Music          Music
1      2  Film & Animation          Games
2      3     Entertainment  Entertainment
3      4         Education      Education
4      5             Shows  Entertainment
5      6               NaN          Music
6      7    People & Blogs  Entertainment
7      8            Gaming  Entertainment
8      9    People & Blogs         People
9     10     Entertainment  Entertainment
10    11             Music          Music
11    12            Sports         Sports
12    13               NaN          Games
13    14    People & Blogs          Music
14    15  Film & Animation          Music

In [ ]:
# Fill same values on the same rows of Channel Type to Category if Category is null
data['Category'] = data.apply(lambda row: row['Channel Type'] if pd.isna(row['Category'])
                              else row['Category'], axis=1)

# Fill same values on the same rows of Category to Channel Type if Channel is null
data['Channel Type'] = data.apply(lambda row: row['Category'] if pd.isna(row['Channel Type'])
                                  else row['Channel Type'], axis=1)

In [ ]:
# Print unique values of Category and Channel Type
# after mapping
print('Category after mapping:', data['Category'].unique())
print('Channel Type after mapping:', data['Channel Type'].unique())

Category after mapping: ['Music' 'Film & Animation' 'Entertainment' 'Education' 'Shows'
 'People & Blogs' 'Gaming' 'Sports' 'Games' 'Howto & Style'
 'News & Politics' 'Comedy' 'Trailers' 'Nonprofits & Activism' nan
 'Science & Technology' 'Movies' 'People' 'Pets & Animals'
 'Autos & Vehicles' 'Howto' 'Tech' 'Film' 'Travel & Events']
Channel Type after mapping: ['Music' 'Games' 'Entertainment' 'Education' 'People' 'Sports' 'Film'
 'News' 'Howto & Style' 'Comedy' 'Howto' 'Nonprofit' nan 'Autos' 'Tech'
 'Gaming' 'Film & Animation' 'People & Blogs' 'Animals' 'Shows'
 'Pets & Animals' 'Science & Technology']

In [ ]:
## Games => Gaming, People => People & Blogs, Howto => Howto & Style
# Tech => Science & Technology, Film => Film & Animation
# Replace values in 'Category' column
data['Category'] = data['Category'].replace({'Games': 'Gaming', 'People': 'People & Blogs',
                                             'Howto': 'Howto & Style', 'Tech': 'Science & Technology',
                                             'Film': 'Film & Animation'})

In [ ]:
## Howto & Style => Howto, Gaming => Games, Film & Animation => Film, People & Blogs => People
# Shows => Entertainment, Pet & Animals => Animals, Science & Technology => Tech
# Replace values in 'Channel Type' column
data['Channel Type'] = data['Channel Type'].replace({'Howto & Style': 'Howto', 'Gaming': 'Games',
                                                     'Film & Animation': 'Film', 'People & Blogs': 'People','Shows': 'Entertainment',
                                                     'Pets & Animals': 'Animals', 'Science & Technology': 'Tech'})

In [ ]:
# Print unique values of Category and Channel Type
# after transforming
print('Category after transforming:', data['Category'].unique())
print('Channel Type after transforming:', data['Channel Type'].unique())

Category after transforming: ['Music' 'Film & Animation' 'Entertainment' 'Education' 'Shows'
 'People & Blogs' 'Gaming' 'Sports' 'Howto & Style' 'News & Politics'
 'Comedy' 'Trailers' 'Nonprofits & Activism' nan 'Science & Technology'
 'Movies' 'Pets & Animals' 'Autos & Vehicles' 'Travel & Events']
Channel Type after transforming: ['Music' 'Games' 'Entertainment' 'Education' 'People' 'Sports' 'Film'
 'News' 'Howto' 'Comedy' 'Nonprofit' nan 'Autos' 'Tech' 'Animals']

In [ ]:
data.isna().sum()

Rank                                       0
Youtuber                                   0
Subscribers                                0
Video Views                                0
Category                                   3
Uploads                                    0
Country                                    0
Channel Type                               3
Video Views Rank                           0
Country Rank                               0
Channel Type Rank                          0
Lowest Monthly Earnings                    0
Highest Monthly Earnings                   0
Lowest Yearly Earnings                     0
Highest Yearly Earnings                    0
Created Year                               0
Created Month                              0
Created Date                               0
Gross Tertiary Education Enrollment (%)    0
Population                                 0
Unemployment Rate                          0
Urban Population                           0
dtype: int64

In [ ]:
# Print row that category and channel type have null values

data[(data['Category'].isna()) | (data['Channel Type'].isna())]

,Rank,Youtuber,Subscribers,Video Views,Category,Uploads,Country,Channel Type,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
101,103,News,36300000,0,NaN,0,Unknown,NaN,4057944,0,...,0.0,0.0,0.0,2013,Sep,9,63.2,436693609,9.3,226424465
442,446,Busy Fun Ltd,18800000,7762077012,NaN,2,Unknown,NaN,4057882,0,...,0.0,0.0,0.0,2021,Dec,21,63.2,436693609,9.3,226424465
587,593,Live,16100000,0,NaN,0,Unknown,NaN,4057944,0,...,0.0,0.0,0.0,2015,Jan,13,63.2,436693609,9.3,226424465

In [ ]:
# Remove row that rank is 103 or 446 or 593
data = data.drop(data[data['Rank'] == 103].index)
data = data.drop(data[data['Rank'] == 446].index)
data = data.drop(data[data['Rank'] == 593].index)

In [ ]:
# Change name of Channel Type to Category, Category to Subcategory
data = data.rename(columns={'Channel Type': 'Category', 'Category': 'SubCategory'})

# Print the updated DataFrame
print(data.columns)

Index(['Rank', 'Youtuber', 'Subscribers', 'Video Views', 'SubCategory',
       'Uploads', 'Country', 'Category', 'Video Views Rank', 'Country Rank',
       'Channel Type Rank', 'Lowest Monthly Earnings',
       'Highest Monthly Earnings', 'Lowest Yearly Earnings',
       'Highest Yearly Earnings', 'Created Year', 'Created Month',
       'Created Date', 'Gross Tertiary Education Enrollment (%)', 'Population',
       'Unemployment Rate', 'Urban Population'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 969 entries, 0 to 978
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     969 non-null    int64
 1   Youtuber                                 969 non-null    object
 2   Subscribers                              969 non-null    int64
 3   Video Views                              969 non-null    int64
 4   SubCategory                              969 non-null    object
 5   Uploads                                  969 non-null    int64
 6   Country                                  969 non-null    object
 7   Category                                 969 non-null    object
 8   Video Views Rank                         969 non-null    int64
 9   Country Rank                             969 non-null    int64
 10  Channel Type Rank                        969 non-null    int64
 11  Lowest Monthly Earnings                  969 non-null    float64
 12  Highest Monthly Earnings                 969 non-null    float64
 13  Lowest Yearly Earnings                   969 non-null    float64
 14  Highest Yearly Earnings                  969 non-null    float64
 15  Created Year                             969 non-null    int64
 16  Created Month                            969 non-null    object
 17  Created Date                             969 non-null    int64
 18  Gross Tertiary Education Enrollment (%)  969 non-null    float64
 19  Population                               969 non-null    int64
 20  Unemployment Rate                        969 non-null    float64
 21  Urban Population                         969 non-null    int64
dtypes: float64(6), int64(11), object(5)
memory usage: 174.1+ KB

### Xử lý nhiễu

#### Created Year

In [ ]:
# Check unique values of Created Year
data['Created Year'].unique()

array([2006, 2012, 2013, 2015, 2010, 2016, 2018, 2014, 2007, 2020, 2008,
       2005, 2011, 2009, 2017, 2021, 1970, 2019, 2022])

In [ ]:
# Check Created Year is 1970
data[['Rank', 'Youtuber', 'Created Date', 'Created Month', 'Created Year']][data['Created Year'] == 1970]
# this youtuber was on Jan 1, 1970

     Rank Youtuber  Created Date Created Month  Created Year
100   102  YouTube             1           Jan          1970

In [ ]:
# replace the year 1970 with 2006 because Youtube was created in 2005
data[data['Rank'] == 102] = data[data['Rank'] == 102].replace(1970, 2006)
data[['Rank', 'Youtuber', 'Created Date', 'Created Month', 'Created Year']][data['Rank'] == 102]

     Rank Youtuber  Created Date Created Month  Created Year
100   102  YouTube             1           Jan          2006

#### Video Views, Uploads

In [ ]:
# Check zero data Video Views
zero_views = data[data['Video Views'] == 0]
zero_views

,Rank,Youtuber,Subscribers,Video Views,SubCategory,Uploads,Country,Category,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
1,2,YouTube Movies,170000000,0,Film & Animation,1,United States,Games,4055159,7670,...,0.05,0.04,0.58,2006,Mar,5,88.2,328239523,14.7,270663028
5,6,Music,119000000,0,Music,0,Unknown,Music,4057944,0,...,0.00,0.00,0.00,2013,Sep,24,63.2,436693609,9.3,226424465
12,13,Gaming,93600000,0,Gaming,0,Unknown,Games,4057944,0,...,0.00,0.00,0.00,2013,Dec,15,63.2,436693609,9.3,226424465
18,19,Sports,75000000,0,Entertainment,3,United States,Entertainment,3898122,6266,...,0.06,0.05,0.77,2006,Jan,30,88.2,328239523,14.7,270663028
171,174,Popular on YouTube,29300000,0,Education,3,Unknown,Education,4019724,0,...,0.00,0.00,0.05,2017,Aug,7,63.2,436693609,9.3,226424465
358,361,Minecraft - Topic,20900000,0,Gaming,0,Unknown,Games,4057944,0,...,0.00,0.00,0.00,2013,Dec,20,63.2,436693609,9.3,226424465

In [ ]:
# Remove zero data Video Views
data = data.drop(zero_views.index)
data.reset_index(drop= True, inplace= True)

In [ ]:
# Check zero data Uploads
zero_uploads = data[data['Uploads'] == 0]
zero_uploads

,Rank,Youtuber,Subscribers,Video Views,SubCategory,Uploads,Country,Category,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
53,58,BRIGHT SIDE,44500000,10708531817,Howto & Style,0,Unknown,Howto,4057944,0,...,0.0,0.0,0.0,2005,Nov,18,63.2,436693609,9.30,226424465
68,74,Luisito Comunica,40600000,8670473639,Comedy,0,Mexico,Comedy,3612215,3021,...,0.0,0.0,0.0,2010,Jun,18,40.2,126014024,3.42,102626859
107,114,T-Series Apna Punjab,34600000,21306315429,Music,0,Unknown,News,4057944,0,...,0.0,0.0,0.0,2020,Jul,9,63.2,436693609,9.30,226424465
143,150,Luis Fonsi,31400000,15176762479,Entertainment,0,Unknown,Entertainment,4057944,0,...,0.0,0.0,0.0,2006,Mar,31,63.2,436693609,9.30,226424465
159,167,Frost Diamond,30100000,7277493940,Gaming,0,Unknown,Games,4057944,0,...,0.0,0.0,0.0,2006,Aug,10,63.2,436693609,9.30,226424465
172,181,Aditya Music India,28500000,25857994495,Music,0,Unknown,Music,4057944,0,...,0.0,0.0,0.0,2010,Dec,16,63.2,436693609,9.30,226424465
182,191,Sandeep Maheshwari,27800000,2303069221,People & Blogs,0,Singapore,People,4057944,3017,...,0.0,0.0,0.0,2008,Jan,2,84.8,5703569,4.11,5703569
209,218,1MILLION Dance Studio,26100000,7886440199,Entertainment,0,Saudi Arabia,Music,4057944,3695,...,0.0,0.0,0.0,2019,Jul,13,68.0,34268528,5.93,28807838
217,227,Fede Vigevani,25600000,7962725960,Howto & Style,0,Unknown,Howto,4057944,0,...,0.0,0.0,0.0,2019,Aug,1,63.2,436693609,9.30,226424465
263,274,FaZe Rug,23700000,7451792132,Gaming,0,Canada,Games,4057944,3885,...,0.0,0.0,0.0,2012,Nov,30,68.9,36991981,5.56,30628482
289,300,Alan Becker,22900000,5380073627,Film & Animation,0,United States,Games,4057944,7700,...,0.0,0.0,0.0,2006,Mar,21,88.2,328239523,14.70,270663028
330,341,YOLO,21400000,1573058816,Comedy,0,Germany,Comedy,4057944,3810,...,0.0,0.0,0.0,2013,Jun,11,70.2,83132799,3.04,64324835
366,378,Linkin Park,20400000,13397000296,Music,0,Afghanistan,Games,4057944,1385,...,0.0,0.0,0.0,2006,Nov,28,9.7,38041754,11.12,9797273
375,387,Family GamesTV,20200000,7066711323,Entertainment,0,Unknown,Games,4057944,0,...,0.0,0.0,0.0,2012,Dec,29,63.2,436693609,9.30,226424465
383,395,Robin Hood Gamer,20100000,10366850490,Entertainment,0,Unknown,Games,4057944,0,...,0.0,0.0,0.0,2013,Mar,16,63.2,436693609,9.30,226424465
428,441,Masha e o Urso,18900000,8301731337,Shows,0,Unknown,Entertainment,4057944,0,...,0.0,0.0,0.0,2014,Feb,20,63.2,436693609,9.30,226424465
449,464,Dhar Mann,18400000,11280732382,People & Blogs,0,Unknown,People,4057944,0,...,0.0,0.0,0.0,2007,Apr,25,63.2,436693609,9.30,226424465
461,477,Ajay Sharma,18100000,12249828886,Entertainment,0,Unknown,Entertainment,4057944,0,...,0.0,0.0,0.0,2009,Oct,24,63.2,436693609,9.30,226424465
528,545,Doggy Doggy Cartoons,16800000,6518418501,Entertainment,0,Unknown,Entertainment,4057944,0,...,0.0,0.0,0.0,2018,Nov,11,63.2,436693609,9.30,226424465
538,555,Werever2morro,16600000,2798273962,Entertainment,0,Mexico,Games,4057944,4248,...,0.0,0.0,0.0,2010,Dec,7,40.2,126014024,3.42,102626859
582,601,La Rosa de Guadalupe,16100000,9642146451,Entertainment,0,Mexico,Games,4057944,4258,...,0.0,0.0,0.0,2008,Sep,3,40.2,126014024,3.42,102626859
586,605,Enes Batur,16000000,9786595271,Gaming,0,Unknown,Games,4057944,0,...,0.0,0.0,0.0,2007,Mar,4,63.2,436693609,9.30,226424465
610,630,Super Senya,15500000,5070970714,Entertainment,0,Unknown,Entertainment,4057944,0,...,0.0,0.0,0.0,2017,Jul,27,63.2,436693609,9.30,226424465
614,635,Mr DegrEE,15500000,12880388253,Science & Technology,0,United States,Entertainment,4057944,5048,...,0.0,0.0,0.0,2016,Mar,2,88.2,328239523,14.70,270663028
660,681,TheRichest,15000000,2730879024,Education,0,United States,Games,4057944,7692,...,0.0,0.0,0.0,2006,May,25,88.2,328239523,14.70,270663028
688,711,Major Lazer Official,14800000,9383431376,Music,0,Unknown,Music,4057944,0,...,0.0,0.0,0.0,2013,Jun,14,63.2,436693609,9.30,226424465
751,778,Crazy Frog,14200000,7946322061,Music,0,Unknown,Games,4057944,0,...,0.0,0.0,0.0,2005,Oct,2,63.2,436693609,9.30,226424465
824,854,Blockbuster Movies,13400000,2650061211,Entertainment,0,India,Entertainment,4057944,5589,...,0.0,0.0,0.0,2017,Jul,4,28.1,1366417754,5.36,471031528
847,878,Ei Nerd,13200000,3568392223,Entertainment,0,Unknown,Games,4057944,0,...,0.0,0.0,0.0,2007,Nov,19,63.2,436693609,9.30,226424465
919,952,Ja Mill,12500000,1302818088,People & Blogs,0,Unknown,People,4048879,0,...,0.0,0.0,0.0,2006,Feb,22,63.2,436693609,9.30,226424465
951,984,MoniLina,12400000,16086808918,Comedy,0,United States,People,4057944,2774,...,0.0,0.0,0.0,2016,May,10,88.2,328239523,14.70,270663028
953,986,TKOR,12400000,3392022527,Education,0,Unknown,People,4057944,0,...,0.0,0.0,0.0,2006,Aug,16,63.2,436693609,9.30,226424465

In [ ]:
# Remove zero data Uploads
data = data.drop(zero_uploads.index)
data.reset_index(drop= True, inplace= True)

#### Uploads

In [ ]:
# Check Uploads < 10
uploadslessthan10 = data[data['Uploads'] < 10]
uploadslessthan10.head(10)

,Rank,Youtuber,Subscribers,Video Views,SubCategory,Uploads,Country,Category,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
11,15,Goldmines,86900000,24118230580,Film & Animation,1,Unknown,Music,4056562,0,...,0.07,0.05,0.86,2006,Aug,15,63.2,436693609,9.30,226424465
13,17,5-Minute Crafts,80100000,26236790209,Howto & Style,1,United Kingdom,Entertainment,4057901,4797,...,0.00,0.00,0.05,2020,Jul,27,60.0,66834405,3.85,55908316
44,49,Badabun,46800000,19398045702,Entertainment,1,Unknown,Music,4047729,0,...,2.00,1.00,21.00,2007,Jul,21,63.2,436693609,9.30,226424465
46,51,A4,46300000,22936630813,Gaming,1,Cuba,People,4053056,99,...,0.38,0.28,5.00,2006,Mar,11,41.4,11333483,1.64,8739135
47,52,Bad Bunny,46100000,30686342319,Music,1,Unknown,Sports,4046070,0,...,0.00,0.00,0.05,2005,Nov,15,63.2,436693609,9.30,226424465
56,62,Alan Walker,43700000,12884264778,Music,8,Thailand,Film,4056116,4026,...,0.09,0.07,1.00,2006,May,12,49.3,69625582,0.75,35294600
57,63,HolaSoyGerman.,43600000,4831311245,Entertainment,6,Unknown,People,4047806,0,...,0.02,0.01,0.19,2016,May,27,63.2,436693609,9.30,226424465
68,76,Toys and Colors,40300000,47005053156,Entertainment,4,Unknown,People,3989650,0,...,0.02,0.02,0.24,2018,Jun,14,63.2,436693609,9.30,226424465
70,78,LUCCAS NETO - LUCCAS TOON,39400000,22302547082,People & Blogs,1,Unknown,Games,4057895,0,...,0.01,0.01,0.10,2021,Mar,25,63.2,436693609,9.30,226424465
96,105,MrBeast Gaming,36100000,6331332547,Gaming,5,Unknown,Comedy,4057305,0,...,0.13,0.10,2.00,2011,Feb,26,63.2,436693609,9.30,226424465

#### Lowest Monthly Earnings, Highest Monthly Earnings, Lowest Year Earnings, Highest Year Earnings

In [ ]:
data[['Rank', 'Lowest Monthly Earnings', 'Highest Monthly Earnings', 'Lowest Yearly Earnings', 'Highest Yearly Earnings']][(data['Lowest Monthly Earnings'] == 0) | (data['Highest Monthly Earnings'] == 0) | (data['Lowest Yearly Earnings'] == 0) | (data['Highest Yearly Earnings'] == 0)]

,Rank,Lowest Monthly Earnings,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings
11,15,0.0,0.07,0.05,0.86
13,17,0.0,0.00,0.00,0.05
19,24,0.0,0.00,0.00,0.00
23,28,0.0,0.04,0.03,0.48
47,52,0.0,0.00,0.00,0.05
...,...,...,...,...,...
889,951,0.0,0.00,0.00,0.00
895,958,0.0,0.00,0.00,0.00
905,968,0.0,0.00,0.00,0.05
913,976,0.0,0.00,0.00,0.00
922,987,0.0,0.01,0.01,0.10

In [ ]:
print('Median of Lowest Monthly Earnings:', data['Lowest Monthly Earnings'].median())
print('Median of Highest Monthly Earnings:', data['Highest Monthly Earnings'].median())
print('Median of Lowest Yearly Earnings:', data['Lowest Yearly Earnings'].median())
print('Median of Highest Yearly Earnings:', data['Highest Yearly Earnings'].median())

Median of Lowest Monthly Earnings: 14700.0
Median of Highest Monthly Earnings: 235400.0
Median of Lowest Yearly Earnings: 176500.0
Median of Highest Yearly Earnings: 2800000.0

In [ ]:
data['Lowest Monthly Earnings'] = data['Lowest Monthly Earnings'].replace(0.0, data['Lowest Monthly Earnings'].median())
data['Highest Monthly Earnings'] = data['Highest Monthly Earnings'].replace(0.0, data['Highest Monthly Earnings'].median())
data['Lowest Yearly Earnings'] = data['Lowest Yearly Earnings'].replace(0.0, data['Lowest Yearly Earnings'].median())
data['Highest Yearly Earnings'] = data['Highest Yearly Earnings'].replace(0.0, data['Highest Yearly Earnings'].median())

In [ ]:
data[['Rank', 'Lowest Monthly Earnings', 'Highest Monthly Earnings', 'Lowest Yearly Earnings', 'Highest Yearly Earnings']][(data['Lowest Monthly Earnings'] == 0) | (data['Highest Monthly Earnings'] == 0) | (data['Lowest Yearly Earnings'] == 0) | (data['Highest Yearly Earnings'] == 0)].count()

Rank                        0
Lowest Monthly Earnings     0
Highest Monthly Earnings    0
Lowest Yearly Earnings      0
Highest Yearly Earnings     0
dtype: int64

In [ ]:
data.head(20)

,Rank,Youtuber,Subscribers,Video Views,SubCategory,Uploads,Country,Category,Video Views Rank,Country Rank,...,Highest Monthly Earnings,Lowest Yearly Earnings,Highest Yearly Earnings,Created Year,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population
0,1,T-Series,245000000,228000000000,Music,20082,India,Music,1,1,...,9000000.00,6800000.00,1.084000e+08,2006,Mar,13,28.1,1366417754,5.36,471031528
1,3,MrBeast,166000000,28368841870,Entertainment,741,United States,Entertainment,48,1,...,5400000.00,4000000.00,6.470000e+07,2012,Feb,20,88.2,328239523,14.70,270663028
2,4,Cocomelon - Nursery Rhymes,162000000,164000000000,Education,966,United States,Education,2,2,...,7900000.00,5900000.00,9.480000e+07,2006,Sep,1,88.2,328239523,14.70,270663028
3,5,SET India,159000000,148000000000,Shows,116536,India,Entertainment,3,2,...,7300000.00,5500000.00,8.750000e+07,2006,Sep,20,28.1,1366417754,5.36,471031528
4,7,Kids Diana Show,112000000,93247040539,People & Blogs,1111,United States,Entertainment,5,3,...,2900000.00,2200000.00,3.510000e+07,2015,May,12,88.2,328239523,14.70,270663028
5,8,PewDiePie,111000000,29058044447,Gaming,4716,Japan,Entertainment,44,1,...,156700.00,117600.00,1.900000e+06,2010,Apr,29,63.2,126226568,2.29,115782416
6,9,Like Nastya,106000000,90479060027,People & Blogs,493,Russia,People,630,5,...,195800.00,146800.00,2.300000e+06,2016,Jan,14,81.9,144373535,4.59,107683889
7,10,Vlad and Niki,98900000,77180169894,Entertainment,574,United States,Entertainment,8,5,...,2300000.00,1700000.00,2.790000e+07,2018,Apr,23,88.2,328239523,14.70,270663028
8,11,Zee Music Company,96700000,57856289381,Music,8548,India,Music,12,3,...,3200000.00,2400000.00,3.860000e+07,2014,Mar,12,28.1,1366417754,5.36,471031528
9,12,WWE,96000000,77428473662,Sports,70127,United States,Sports,7,6,...,2900000.00,2100000.00,3.430000e+07,2007,May,11,88.2,328239523,14.70,270663028
10,14,BLACKPINK,89800000,32144597566,People & Blogs,543,South Korea,Music,32,1,...,2000000.00,1500000.00,2.390000e+07,2016,Jun,29,94.3,51709098,4.15,42106719
11,15,Goldmines,86900000,24118230580,Film & Animation,1,Unknown,Music,4056562,0,...,0.07,0.05,8.600000e-01,2006,Aug,15,63.2,436693609,9.30,226424465
12,16,Sony SAB,83000000,101000000000,Shows,71270,India,Entertainment,4,5,...,6600000.00,5000000.00,7.960000e+07,2007,Aug,4,28.1,1366417754,5.36,471031528
13,17,5-Minute Crafts,80100000,26236790209,Howto & Style,1,United Kingdom,Entertainment,4057901,4797,...,235400.00,176500.00,5.000000e-02,2020,Jul,27,60.0,66834405,3.85,55908316
14,18,BANGTANTV,75600000,20826993957,Music,2281,South Korea,Music,112,2,...,673200.00,504900.00,8.100000e+06,2012,Dec,17,94.3,51709098,4.15,42106719
15,20,Justin Bieber,71600000,30608119724,Music,249,Canada,Music,38,1,...,705300.00,529000.00,8.500000e+06,2007,Jan,15,68.9,36991981,5.56,30628482
16,21,HYBE LABELS,71300000,28634566938,Music,1337,South Korea,Music,46,3,...,2400000.00,1800000.00,2.870000e+07,2008,Jun,4,94.3,51709098,4.15,42106719
17,22,Zee TV,70500000,73139054467,Entertainment,129204,India,Entertainment,9,6,...,6800000.00,5100000.00,8.190000e+07,2005,Dec,11,28.1,1366417754,5.36,471031528
18,23,Pinkfong Baby Shark - Kids' Songs & Stories,68200000,38843229963,Education,2865,United States,Education,23,8,...,1900000.00,1400000.00,2.270000e+07,2011,Dec,14,88.2,328239523,14.70,270663028
19,24,Canal KondZilla,66500000,36775585925,Music,2572,Brazil,Music,25,1,...,235400.00,176500.00,2.800000e+06,2012,Mar,21,51.3,212559417,12.08,183241641

## **Data Transformation**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931 entries, 0 to 930
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     931 non-null    int64
 1   Youtuber                                 931 non-null    object
 2   Subscribers                              931 non-null    int64
 3   Video Views                              931 non-null    int64
 4   SubCategory                              931 non-null    object
 5   Uploads                                  931 non-null    int64
 6   Country                                  931 non-null    object
 7   Category                                 931 non-null    object
 8   Video Views Rank                         931 non-null    int64
 9   Country Rank                             931 non-null    int64
 10  Channel Type Rank                        931 non-null    int64
 11  Lowest Monthly Earnings                  931 non-null    float64
 12  Highest Monthly Earnings                 931 non-null    float64
 13  Lowest Yearly Earnings                   931 non-null    float64
 14  Highest Yearly Earnings                  931 non-null    float64
 15  Created Year                             931 non-null    int64
 16  Created Month                            931 non-null    object
 17  Created Date                             931 non-null    int64
 18  Gross Tertiary Education Enrollment (%)  931 non-null    float64
 19  Population                               931 non-null    int64
 20  Unemployment Rate                        931 non-null    float64
 21  Urban Population                         931 non-null    int64
dtypes: float64(6), int64(11), object(5)
memory usage: 160.1+ KB

### Region

In [ ]:
data['Country'].nunique()

49

In [ ]:
data['Country'].unique()

array(['India', 'United States', 'Japan', 'Russia', 'South Korea',
       'Unknown', 'United Kingdom', 'Canada', 'Brazil', 'Argentina',
       'Chile', 'Cuba', 'El Salvador', 'Pakistan', 'Philippines',
       'Thailand', 'Colombia', 'Barbados', 'Mexico',
       'United Arab Emirates', 'Spain', 'Saudi Arabia', 'Indonesia',
       'Turkey', 'Venezuela', 'Kuwait', 'Jordan', 'Netherlands',
       'Australia', 'Italy', 'Germany', 'France', 'Sweden', 'Ukraine',
       'Latvia', 'Switzerland', 'Vietnam', 'Malaysia', 'China', 'Iraq',
       'Singapore', 'Egypt', 'Andorra', 'Ecuador', 'Morocco', 'Peru',
       'Bangladesh', 'Finland', 'Samoa'], dtype=object)

In [ ]:
# Create a new column named Region
data['Region'] = 'Unknown'

# Set Region to 'Asia' for specific countries
asia_countries = ['India', 'Japan', 'Pakistan', 'Philippines', 'Thailand', 'Afghanistan', 'Bangladesh',
                  'Indonesia', 'Turkey', 'China', 'Iraq', 'Egypt', 'Vietnam', 'Malaysia', 'Singapore', 'South Korea']
data.loc[data['Country'].isin(asia_countries), 'Region'] = 'Asia'

# Set Region to 'Europe' for specific countries
europe_countries = ['Russia', 'United Kingdom', 'Netherlands', 'Sweden', 'Spain', 'Andorra',
                    'Latvia', 'Switzerland', 'Germany', 'France', 'Italy', 'Finland', 'Ukraine']
data.loc[data['Country'].isin(europe_countries), 'Region'] = 'Europe'

# Set Region to 'America' for specific countries
america_countries = ['United States', 'Canada', 'Mexico', 'Barbados',
                     'Brazil', 'Argentina', 'Chile', 'Cuba', 'El Salvador',
                     'Colombia', 'Venezuela', 'Ecuador', 'Peru', 'Bolivia',
                     ]
data.loc[data['Country'].isin(america_countries), 'Region'] = 'America'

# Set Region to 'Africa' for specific countries
africa_countries = ['Morocco', 'United Arab Emirates', 'Kuwait', 'Jordan', 'Saudi Arabia']
data.loc[data['Country'].isin(africa_countries), 'Region'] = 'Africa'

# Set Region to 'Oceania' for specific countries
oceania_countries = ['Australia', 'Samoa']
data.loc[data['Country'].isin(oceania_countries), 'Region'] = 'Oceania'

# Print the updated DataFrame
data[['Rank', 'Country', 'Region']].head(10)

   Rank        Country   Region
0     1          India     Asia
1     3  United States  America
2     4  United States  America
3     5          India     Asia
4     7  United States  America
5     8          Japan     Asia
6     9         Russia   Europe
7    10  United States  America
8    11          India     Asia
9    12  United States  America

In [ ]:
print(data['Region'].unique())

['Asia' 'America' 'Europe' 'Unknown' 'Africa' 'Oceania']

In [ ]:
# Print rows that have region = Unknown
print(data[data['Region'] == 'Unknown'])

     Rank                                           Youtuber  Subscribers  \
11     15                                          Goldmines     86900000
34     39  LooLoo Kids - Nursery Rhymes and Children's Songs     54000000
44     49                                            Badabun     46800000
47     52                                          Bad Bunny     46100000
57     63                                     HolaSoyGerman.     43600000
..    ...                                                ...          ...
878   940                                                Ref     12700000
896   959                                     Troom Troom PT     12500000
905   968                              Troom Troom Indonesia     12500000
910   973                                   Hero Movies 2023     12400000
922   987                                          ANNA KOVA     12400000

     Video Views       SubCategory  Uploads  Country       Category  \
11   24118230580  Film & Animation        1  Unknown          Music
34   32312431239             Music       11  Unknown          Music
44   19398045702     Entertainment        1  Unknown          Music
47   30686342319             Music        1  Unknown         Sports
57    4831311245     Entertainment        6  Unknown         People
..           ...               ...      ...      ...            ...
878   2709954270     Entertainment      846  Unknown  Entertainment
896   4384177908     Howto & Style     2738  Unknown          Howto
905   5379684248    People & Blogs        8  Unknown         People
910   1689090619    People & Blogs      689  Unknown         People
922  13959586308    People & Blogs        1  Unknown           Film

     Video Views Rank  Country Rank  ...  Lowest Yearly Earnings  \
11            4056562             0  ...                    0.05
34            3800129             0  ...                    0.48
44            4047729             0  ...                    1.00
47            4046070             0  ...               176500.00
57            4047806             0  ...                    0.01
..                ...           ...  ...                     ...
878              2218             0  ...                20800.00
896              1667             0  ...                40500.00
905           4057418             0  ...               176500.00
910              6116             0  ...                65500.00
922           4049634             0  ...                    0.01

     Highest Yearly Earnings  Created Year  Created Month  Created Date  \
11                      0.86          2006            Aug            15
34                      8.00          2016            Nov            29
44                     21.00          2007            Jul            21
47                      0.05          2005            Nov            15
57                      0.19          2016            May            27
..                       ...           ...            ...           ...
878                333200.00          2013            Aug            10
896                648100.00          2015            Apr            19
905                     0.05          2020            Jul            29
910               1000000.00          2017            Feb            22
922                     0.10          2006            Jun            18

     Gross Tertiary Education Enrollment (%) Population  Unemployment Rate  \
11                                      63.2  436693609                9.3
34                                      63.2  436693609                9.3
44                                      63.2  436693609                9.3
47                                      63.2  436693609                9.3
57                                      63.2  436693609                9.3
..                                       ...        ...                ...
878                                     63.2  436693609                9.3
896                                     63.2  436693609                9.3
905                                     63.2  436693609                9.3
910                                     63.2  436693609                9.3
922                                     63.2  436693609                9.3

     Urban Population   Region
11          226424465  Unknown
34          226424465  Unknown
44          226424465  Unknown
47          226424465  Unknown
57          226424465  Unknown
..                ...      ...
878         226424465  Unknown
896         226424465  Unknown
905         226424465  Unknown
910         226424465  Unknown
922         226424465  Unknown

[93 rows x 23 columns]

In [ ]:
# Print rows that have region = Others
print(data[data['Country'] == 'Unknown'])

     Rank                                           Youtuber  Subscribers  \
11     15                                          Goldmines     86900000
34     39  LooLoo Kids - Nursery Rhymes and Children's Songs     54000000
44     49                                            Badabun     46800000
47     52                                          Bad Bunny     46100000
57     63                                     HolaSoyGerman.     43600000
..    ...                                                ...          ...
878   940                                                Ref     12700000
896   959                                     Troom Troom PT     12500000
905   968                              Troom Troom Indonesia     12500000
910   973                                   Hero Movies 2023     12400000
922   987                                          ANNA KOVA     12400000

     Video Views       SubCategory  Uploads  Country       Category  \
11   24118230580  Film & Animation        1  Unknown          Music
34   32312431239             Music       11  Unknown          Music
44   19398045702     Entertainment        1  Unknown          Music
47   30686342319             Music        1  Unknown         Sports
57    4831311245     Entertainment        6  Unknown         People
..           ...               ...      ...      ...            ...
878   2709954270     Entertainment      846  Unknown  Entertainment
896   4384177908     Howto & Style     2738  Unknown          Howto
905   5379684248    People & Blogs        8  Unknown         People
910   1689090619    People & Blogs      689  Unknown         People
922  13959586308    People & Blogs        1  Unknown           Film

     Video Views Rank  Country Rank  ...  Lowest Yearly Earnings  \
11            4056562             0  ...                    0.05
34            3800129             0  ...                    0.48
44            4047729             0  ...                    1.00
47            4046070             0  ...               176500.00
57            4047806             0  ...                    0.01
..                ...           ...  ...                     ...
878              2218             0  ...                20800.00
896              1667             0  ...                40500.00
905           4057418             0  ...               176500.00
910              6116             0  ...                65500.00
922           4049634             0  ...                    0.01

     Highest Yearly Earnings  Created Year  Created Month  Created Date  \
11                      0.86          2006            Aug            15
34                      8.00          2016            Nov            29
44                     21.00          2007            Jul            21
47                      0.05          2005            Nov            15
57                      0.19          2016            May            27
..                       ...           ...            ...           ...
878                333200.00          2013            Aug            10
896                648100.00          2015            Apr            19
905                     0.05          2020            Jul            29
910               1000000.00          2017            Feb            22
922                     0.10          2006            Jun            18

     Gross Tertiary Education Enrollment (%) Population  Unemployment Rate  \
11                                      63.2  436693609                9.3
34                                      63.2  436693609                9.3
44                                      63.2  436693609                9.3
47                                      63.2  436693609                9.3
57                                      63.2  436693609                9.3
..                                       ...        ...                ...
878                                     63.2  436693609                9.3
896                                     63.2  436693609                9.3
905                                     63.2  436693609                9.3
910                                     63.2  436693609                9.3
922                                     63.2  436693609                9.3

     Urban Population   Region
11          226424465  Unknown
34          226424465  Unknown
44          226424465  Unknown
47          226424465  Unknown
57          226424465  Unknown
..                ...      ...
878         226424465  Unknown
896         226424465  Unknown
905         226424465  Unknown
910         226424465  Unknown
922         226424465  Unknown

[93 rows x 23 columns]

In [ ]:
# Print rows that region = Others, but Country is not = Others
print(data[(data['Region'] == 'Unknown') & (data['Country'] != 'Unknown')])

Empty DataFrame
Columns: [Rank, Youtuber, Subscribers, Video Views, SubCategory, Uploads, Country, Category, Video Views Rank, Country Rank, Channel Type Rank, Lowest Monthly Earnings, Highest Monthly Earnings, Lowest Yearly Earnings, Highest Yearly Earnings, Created Year, Created Month, Created Date, Gross Tertiary Education Enrollment (%), Population, Unemployment Rate, Urban Population, Region]
Index: []

[0 rows x 23 columns]

### Youtube Creator Awards

In [ ]:
data['Youtube Creator Awards'] = ''
for index, row in data.iterrows():
    if row['Subscribers'] >= 100000000:
        data.at[index, 'Youtube Creator Awards'] = 'Red Diamond'
    elif 10000000 <= row['Subscribers'] < 100000000:
        data.at[index, 'Youtube Creator Awards'] = 'Diamond'
    elif 1000000 <= row['Subscribers'] < 10000000:
        data.at[index, 'Youtube Creator Awards'] = 'Gold'
    elif 100000 <= row['Subscribers'] < 1000000:
        data.at[index, 'Youtube Creator Awards'] = 'Silver'
    else:
        data.at[index, 'Youtube Creator Awards'] = 'Other'

In [ ]:
print(data['Youtube Creator Awards'].unique())

['Red Diamond' 'Diamond']

In [ ]:
# Min value of Subcribers
print('Minimun subcribers:', data['Subscribers'].min())

# Max value of Subcribers
print('Maximun subcribers:', data['Subscribers'].max())

Minimun subcribers: 12300000
Maximun subcribers: 245000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931 entries, 0 to 930
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     931 non-null    int64
 1   Youtuber                                 931 non-null    object
 2   Subscribers                              931 non-null    int64
 3   Video Views                              931 non-null    int64
 4   SubCategory                              931 non-null    object
 5   Uploads                                  931 non-null    int64
 6   Country                                  931 non-null    object
 7   Category                                 931 non-null    object
 8   Video Views Rank                         931 non-null    int64
 9   Country Rank                             931 non-null    int64
 10  Channel Type Rank                        931 non-null    int64
 11  Lowest Monthly Earnings                  931 non-null    float64
 12  Highest Monthly Earnings                 931 non-null    float64
 13  Lowest Yearly Earnings                   931 non-null    float64
 14  Highest Yearly Earnings                  931 non-null    float64
 15  Created Year                             931 non-null    int64
 16  Created Month                            931 non-null    object
 17  Created Date                             931 non-null    int64
 18  Gross Tertiary Education Enrollment (%)  931 non-null    float64
 19  Population                               931 non-null    int64
 20  Unemployment Rate                        931 non-null    float64
 21  Urban Population                         931 non-null    int64
 22  Region                                   931 non-null    object
 23  Youtube Creator Awards                   931 non-null    object
dtypes: float64(6), int64(11), object(7)
memory usage: 174.7+ KB

## Giải quyết mối quan hệ n-n giữa Category và SubCategory

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931 entries, 0 to 930
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     931 non-null    int64
 1   Youtuber                                 931 non-null    object
 2   Subscribers                              931 non-null    int64
 3   Video Views                              931 non-null    int64
 4   SubCategory                              931 non-null    object
 5   Uploads                                  931 non-null    int64
 6   Country                                  931 non-null    object
 7   Category                                 931 non-null    object
 8   Video Views Rank                         931 non-null    int64
 9   Country Rank                             931 non-null    int64
 10  Channel Type Rank                        931 non-null    int64
 11  Lowest Monthly Earnings                  931 non-null    float64
 12  Highest Monthly Earnings                 931 non-null    float64
 13  Lowest Yearly Earnings                   931 non-null    float64
 14  Highest Yearly Earnings                  931 non-null    float64
 15  Created Year                             931 non-null    int64
 16  Created Month                            931 non-null    object
 17  Created Date                             931 non-null    int64
 18  Gross Tertiary Education Enrollment (%)  931 non-null    float64
 19  Population                               931 non-null    int64
 20  Unemployment Rate                        931 non-null    float64
 21  Urban Population                         931 non-null    int64
 22  Region                                   931 non-null    object
 23  Youtube Creator Awards                   931 non-null    object
dtypes: float64(6), int64(11), object(7)
memory usage: 174.7+ KB

In [ ]:
# data Dataframe drop Category, Subcategory, and add them in a df Dataframe
df = data[['Rank', 'Category', 'SubCategory']]
data = data.drop(columns=['Category', 'SubCategory'])

In [ ]:
df.head(10)

   Rank       Category     SubCategory
0     1          Music           Music
1     3  Entertainment   Entertainment
2     4      Education       Education
3     5  Entertainment           Shows
4     7  Entertainment  People & Blogs
5     8  Entertainment          Gaming
6     9         People  People & Blogs
7    10  Entertainment   Entertainment
8    11          Music           Music
9    12         Sports          Sports

In [ ]:
# Print unique values of subcategory and category
print('SubCategory:', df['SubCategory'].unique())
print('Category:', df['Category'].unique())

SubCategory: ['Music' 'Entertainment' 'Education' 'Shows' 'People & Blogs' 'Gaming'
 'Sports' 'Film & Animation' 'Howto & Style' 'News & Politics' 'Comedy'
 'Trailers' 'Nonprofits & Activism' 'Science & Technology' 'Movies'
 'Pets & Animals' 'Autos & Vehicles' 'Travel & Events']
Category: ['Music' 'Entertainment' 'Education' 'People' 'Sports' 'Film' 'News'
 'Games' 'Comedy' 'Howto' 'Nonprofit' 'Autos' 'Tech' 'Animals']

### Music

In [ ]:
# Print rows with when subcategory = music
df_Music = df[df['SubCategory'] == 'Music']
df_Music

     Rank       Category SubCategory
0       1          Music       Music
8      11          Music       Music
14     18          Music       Music
15     20          Music       Music
16     21          Music       Music
..    ...            ...         ...
903   966          Music       Music
904   967          Music       Music
920   983  Entertainment       Music
923   988          Music       Music
925   990  Entertainment       Music

[195 rows x 3 columns]

In [ ]:
# Print unique values of category
print(df_Music['Category'].unique())

['Music' 'Sports' 'Film' 'Entertainment' 'People' 'Education']

In [ ]:
# Replace each value of category to Music
df_Music.loc[:, 'Category'] = 'Music'

In [ ]:
# Print rows that category different subcategory
print(df_Music[(df_Music['Category'] != df_Music['SubCategory'])])

Empty DataFrame
Columns: [Rank, Category, SubCategory]
Index: []

In [ ]:
df_Music

     Rank Category SubCategory
0       1    Music       Music
8      11    Music       Music
14     18    Music       Music
15     20    Music       Music
16     21    Music       Music
..    ...      ...         ...
903   966    Music       Music
904   967    Music       Music
920   983    Music       Music
923   988    Music       Music
925   990    Music       Music

[195 rows x 3 columns]

### Entertainment

In [ ]:
# prompt: print rows with when subcategory = music

df_Entertainment = df[df['SubCategory'] == 'Entertainment']
df_Entertainment

     Rank       Category    SubCategory
1       3  Entertainment  Entertainment
7      10  Entertainment  Entertainment
17     22  Entertainment  Entertainment
32     37          Music  Entertainment
42     47           Film  Entertainment
..    ...            ...            ...
900   963  Entertainment  Entertainment
901   964  Entertainment  Entertainment
902   965  Entertainment  Entertainment
914   977  Entertainment  Entertainment
916   979  Entertainment  Entertainment

[236 rows x 3 columns]

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Entertainment['Category'].unique())

['Entertainment' 'Music' 'Film' 'People' 'Games' 'Tech' 'Comedy' 'News'
 'Education' 'Autos']

In [ ]:
# prompt: replace each value of category to Music

df_Entertainment.loc[:, 'Category'] = 'Entertainment'

### Education

In [ ]:
# prompt: print rows with when subcategory = music

df_Education = df[df['SubCategory'] == 'Education']
df_Education

     Rank       Category SubCategory
2       4      Education   Education
18     23      Education   Education
20     25      Education   Education
36     41      Education   Education
39     44      Education   Education
66     73      Education   Education
73     81      Education   Education
104   113           Film   Education
119   129      Education   Education
121   131      Education   Education
156   169      Education   Education
166   180      Education   Education
170   185      Education   Education
237   257      Education   Education
280   302      Education   Education
326   349         People   Education
334   357      Education   Education
340   364      Education   Education
358   383      Education   Education
359   384      Education   Education
362   388      Education   Education
413   442      Education   Education
414   443      Education   Education
442   475      Education   Education
492   527         People   Education
493   528      Education   Education
563   603      Education   Education
572   614      Education   Education
589   632      Education   Education
603   648      Education   Education
618   663  Entertainment   Education
658   705      Education   Education
669   719      Education   Education
672   722      Education   Education
724   777      Education   Education
755   812      Education   Education
773   830      Education   Education
779   836           Film   Education
796   853      Education   Education
822   882      Education   Education
860   922  Entertainment   Education
867   929      Education   Education
892   955      Education   Education
909   972      Education   Education
924   989          Games   Education

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Education['Category'].unique())

['Education' 'Film' 'People' 'Entertainment' 'Games']

In [ ]:
# prompt: replace each value of category to Music

df_Education.loc[:, 'Category'] = 'Education'

### Shows

In [ ]:
# prompt: print rows with when subcategory = music

df_Shows = df[df['SubCategory'] == 'Shows']
df_Shows

     Rank       Category SubCategory
3       5  Entertainment       Shows
12     16  Entertainment       Shows
22     27  Entertainment       Shows
61     68           Film       Shows
82     90  Entertainment       Shows
128   138         Comedy       Shows
273   294          Music       Shows
389   416  Entertainment       Shows
458   492      Education       Shows
763   820      Education       Shows

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Shows['Category'].unique())

['Entertainment' 'Film' 'Comedy' 'Music' 'Education']

In [ ]:
# prompt: replace each value of category to Music

df_Shows.loc[:, 'Category'] = 'Entertainment'

### People & Blogs

In [ ]:
# prompt: print rows with when subcategory = music

df_PeopleandBlogs = df[df['SubCategory'] == 'People & Blogs']
df_PeopleandBlogs

     Rank       Category     SubCategory
4       7  Entertainment  People & Blogs
6       9         People  People & Blogs
10     14          Music  People & Blogs
55     61  Entertainment  People & Blogs
58     64          Howto  People & Blogs
..    ...            ...             ...
910   973         People  People & Blogs
912   975         People  People & Blogs
919   982         People  People & Blogs
922   987           Film  People & Blogs
927   992          Games  People & Blogs

[136 rows x 3 columns]

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_PeopleandBlogs['Category'].unique())

['Entertainment' 'People' 'Music' 'Howto' 'Games' 'News' 'Comedy' 'Film'
 'Tech' 'Education' 'Animals' 'Sports']

In [ ]:
# prompt: replace each value of category to Music

df_PeopleandBlogs.loc[:, 'Category'] = 'People'

### Gaming

In [ ]:
# prompt: print rows with when subcategory = music

df_Gaming = df[df['SubCategory'] == 'Gaming']
df_Gaming

     Rank       Category SubCategory
5       8  Entertainment      Gaming
40     45          Games      Gaming
46     51         People      Gaming
48     53          Games      Gaming
67     75  Entertainment      Gaming
..    ...            ...         ...
911   974  Entertainment      Gaming
915   978          Games      Gaming
917   980          Games      Gaming
928   993          Games      Gaming
929   994          Games      Gaming

[93 rows x 3 columns]

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Gaming['Category'].unique())

['Entertainment' 'Games' 'People' 'Comedy' 'Autos' 'Film' 'Tech']

In [ ]:
# prompt: replace each value of category to Music

df_Gaming.loc[:, 'Category'] = 'Games'

### Sports

In [ ]:
# prompt: print rows with when subcategory = music

df_Sports = df[df['SubCategory'] == 'Sports']
df_Sports

     Rank       Category SubCategory
9      12         Sports      Sports
24     29         Sports      Sports
345   369         Sports      Sports
397   424         Sports      Sports
445   479         Sports      Sports
530   568         Sports      Sports
560   599         Sports      Sports
602   647         Sports      Sports
736   791         Sports      Sports
777   834         Sports      Sports
854   914         Sports      Sports
926   991  Entertainment      Sports

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Sports['Category'].unique())

['Sports' 'Entertainment']

In [ ]:
# prompt: replace each value of category to Music

df_Sports.loc[:, 'Category'] = 'Sports'

### Film & Animation

In [ ]:
# prompt: print rows with when subcategory = music

df_FilmandAnimation = df[df['SubCategory'] == 'Film & Animation']
df_FilmandAnimation

     Rank       Category       SubCategory
11     15          Music  Film & Animation
25     30           Film  Film & Animation
33     38          Music  Film & Animation
93    101           Film  Film & Animation
109   119           Film  Film & Animation
111   121           Film  Film & Animation
114   124          Music  Film & Animation
126   136  Entertainment  Film & Animation
140   151      Education  Film & Animation
169   184           Film  Film & Animation
175   190           Film  Film & Animation
183   199  Entertainment  Film & Animation
195   211           Film  Film & Animation
210   229  Entertainment  Film & Animation
234   254           Film  Film & Animation
245   265         People  Film & Animation
260   281           Film  Film & Animation
263   284           Film  Film & Animation
264   285  Entertainment  Film & Animation
290   312           Film  Film & Animation
300   322  Entertainment  Film & Animation
352   376           Film  Film & Animation
369   396  Entertainment  Film & Animation
378   405  Entertainment  Film & Animation
385   412          Games  Film & Animation
391   418  Entertainment  Film & Animation
405   432           Film  Film & Animation
408   436  Entertainment  Film & Animation
409   437           Film  Film & Animation
450   484  Entertainment  Film & Animation
461   495         People  Film & Animation
470   504  Entertainment  Film & Animation
471   505          Music  Film & Animation
486   521  Entertainment  Film & Animation
512   548  Entertainment  Film & Animation
565   606           Film  Film & Animation
575   617           Film  Film & Animation
576   618  Entertainment  Film & Animation
713   766           Film  Film & Animation
719   772  Entertainment  Film & Animation
749   805         Comedy  Film & Animation
834   894           Film  Film & Animation
889   951           Film  Film & Animation
918   981  Entertainment  Film & Animation

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_FilmandAnimation['Category'].unique())

['Music' 'Film' 'Entertainment' 'Education' 'People' 'Games' 'Comedy']

In [ ]:
# prompt: replace each value of category to Music

df_FilmandAnimation.loc[:, 'Category'] = 'Film'

### Howto & Style

In [ ]:
# prompt: print rows with when subcategory = music

df_HowtoandStyle = df[df['SubCategory'] == 'Howto & Style']
df_HowtoandStyle

     Rank       Category    SubCategory
13     17  Entertainment  Howto & Style
133   143          Howto  Howto & Style
187   203          Howto  Howto & Style
224   244          Howto  Howto & Style
228   248          Howto  Howto & Style
251   271          Howto  Howto & Style
313   335          Howto  Howto & Style
328   351          Howto  Howto & Style
342   366          Howto  Howto & Style
371   398          Howto  Howto & Style
398   425          Howto  Howto & Style
407   435          Howto  Howto & Style
444   478           Tech  Howto & Style
474   508          Howto  Howto & Style
488   523          Howto  Howto & Style
519   556          Howto  Howto & Style
528   566  Entertainment  Howto & Style
567   609          Howto  Howto & Style
593   638          Howto  Howto & Style
619   664         People  Howto & Style
622   667  Entertainment  Howto & Style
684   734          Music  Howto & Style
689   740          Howto  Howto & Style
710   762          Howto  Howto & Style
721   774  Entertainment  Howto & Style
739   794  Entertainment  Howto & Style
756   813  Entertainment  Howto & Style
769   826          Howto  Howto & Style
784   841          Howto  Howto & Style
792   849          Howto  Howto & Style
797   855          Howto  Howto & Style
813   872          Howto  Howto & Style
864   926          Howto  Howto & Style
877   939          Howto  Howto & Style
890   953         People  Howto & Style
893   956  Entertainment  Howto & Style
896   959          Howto  Howto & Style
921   985          Howto  Howto & Style

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_HowtoandStyle['Category'].unique())

['Entertainment' 'Howto' 'Tech' 'People' 'Music']

In [ ]:
# prompt: replace each value of category to Music

df_HowtoandStyle.loc[:, 'Category'] = 'Entertainment'

### News & Politics

In [ ]:
# prompt: print rows with when subcategory = music

df_NewsandPolitics = df[df['SubCategory'] == 'News & Politics']
df_NewsandPolitics

     Rank       Category      SubCategory
29     34           News  News & Politics
94    102  Entertainment  News & Politics
99    108           News  News & Politics
147   158           News  News & Politics
193   209           News  News & Politics
218   238           News  News & Politics
316   338  Entertainment  News & Politics
382   409           News  News & Politics
394   421           News  News & Politics
447   481          Music  News & Politics
469   503           News  News & Politics
478   513           News  News & Politics
520   557           News  News & Politics
526   564           News  News & Politics
549   587           News  News & Politics
573   615           News  News & Politics
614   659           News  News & Politics
615   660           News  News & Politics
629   674           News  News & Politics
639   685           News  News & Politics
644   690           News  News & Politics
674   724           News  News & Politics
691   742           News  News & Politics
753   809  Entertainment  News & Politics
762   819           News  News & Politics
800   858           News  News & Politics

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_NewsandPolitics['Category'].unique())

['News' 'Entertainment' 'Music']

In [ ]:
# prompt: replace each value of category to Music

df_NewsandPolitics.loc[:, 'Category'] = 'News'

### Comedy

In [ ]:
# prompt: print rows with when subcategory = music

df_Comedy = df[df['SubCategory'] == 'Comedy']
df_Comedy

     Rank Category SubCategory
54     60   Comedy      Comedy
71     79   Comedy      Comedy
87     95   Comedy      Comedy
117   127   Comedy      Comedy
142   153   Comedy      Comedy
..    ...      ...         ...
871   933   Comedy      Comedy
906   969   Comedy      Comedy
908   971   Comedy      Comedy
913   976   Comedy      Comedy
930   995   Comedy      Comedy

[66 rows x 3 columns]

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Comedy['Category'].unique())

['Comedy' 'Entertainment' 'Games' 'People' 'Film']

In [ ]:
# prompt: replace each value of category to Music

df_Comedy.loc[:, 'Category'] = 'Entertainment'

### Trailers

In [ ]:
# prompt: print rows with when subcategory = music

df_Trailers = df[df['SubCategory'] == 'Trailers']
df_Trailers

    Rank       Category SubCategory
64    71          Music    Trailers
92   100  Entertainment    Trailers

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Trailers['Category'].unique())

['Music' 'Entertainment']

In [ ]:
# prompt: replace each value of category to Music

df_Trailers.loc[:, 'Category'] = 'Entertainment'

### Nonprofits & Activism

In [ ]:
# prompt: print rows with when subcategory = music

df_NonprofitsandActivism = df[df['SubCategory'] == 'Nonprofits & Activism']
df_NonprofitsandActivism

     Rank   Category            SubCategory
77     85  Nonprofit  Nonprofits & Activism
508   543  Nonprofit  Nonprofits & Activism

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_NonprofitsandActivism['Category'].unique())

['Nonprofit']

In [ ]:
# prompt: replace each value of category to Music

df_NonprofitsandActivism.loc[:, 'Category'] = 'Nonprofit'

### Science & Technology

In [ ]:
# prompt: print rows with when subcategory = music

df_ScienceandTechnology = df[df['SubCategory'] == 'Science & Technology']
df_ScienceandTechnology

     Rank       Category           SubCategory
134   144           Tech  Science & Technology
230   250           Tech  Science & Technology
266   287  Entertainment  Science & Technology
275   296           Tech  Science & Technology
305   327  Entertainment  Science & Technology
380   407           Tech  Science & Technology
399   426  Entertainment  Science & Technology
400   427           Tech  Science & Technology
485   520           Tech  Science & Technology
490   525           Tech  Science & Technology
584   626           Tech  Science & Technology
598   643           Tech  Science & Technology
688   739           Tech  Science & Technology
758   815           Tech  Science & Technology
803   861           Tech  Science & Technology
825   885           Tech  Science & Technology
907   970           Tech  Science & Technology

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_ScienceandTechnology['Category'].unique())

['Tech' 'Entertainment']

In [ ]:
# prompt: replace each value of category to Music

df_ScienceandTechnology.loc[:, 'Category'] = 'Tech'

### Movies

In [ ]:
# prompt: print rows with when subcategory = music

df_Movies = df[df['SubCategory'] == 'Movies']
df_Movies

     Rank Category SubCategory
168   183     Film      Movies
278   299     Film      Movies

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_Movies['Category'].unique())

['Film']

In [ ]:
# prompt: replace each value of category to Music

df_Movies.loc[:, 'Category'] = 'Film'

### Pet & Animals

In [ ]:
# prompt: print rows with when subcategory = music

df_PetsandAnimals = df[df['SubCategory'] == 'Pets & Animals']
df_PetsandAnimals

     Rank       Category     SubCategory
255   276        Animals  Pets & Animals
336   359        Animals  Pets & Animals
725   779        Animals  Pets & Animals
780   837  Entertainment  Pets & Animals

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_PetsandAnimals['Category'].unique())

['Animals' 'Entertainment']

In [ ]:
# prompt: replace each value of category to Music

df_PetsandAnimals.loc[:, 'Category'] = 'Animals'

### Autos & Vehicles

In [ ]:
# prompt: print rows with when subcategory = music

df_AutosandVehicles = df[df['SubCategory'] == 'Autos & Vehicles']
df_AutosandVehicles

     Rank       Category       SubCategory
312   334  Entertainment  Autos & Vehicles
732   787          Autos  Autos & Vehicles

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_AutosandVehicles['Category'].unique())

['Entertainment' 'Autos']

In [ ]:
# prompt: replace each value of category to Music

df_AutosandVehicles.loc[:, 'Category'] = 'Autos'

### Travel & Events

In [ ]:
# prompt: print rows with when subcategory = music

df_TravelandEvents = df[df['SubCategory'] == 'Travel & Events']
df_TravelandEvents

     Rank       Category      SubCategory
894   957  Entertainment  Travel & Events

In [ ]:
# prompt: Using dataframe df_Music: print unique values of category

print(df_TravelandEvents['Category'].unique())

['Entertainment']

In [ ]:
# prompt: replace each value of category to Music

df_TravelandEvents.loc[:, 'Category'] = 'Entertainment'

In [ ]:
# prompt: append df_Music, df_Entertainment, df_Education, df_Shows, df_PeopleandBlogs, df_Gaming, df_Sports, df_FilmandAnimation, df_HowtoandStyle, df_NewsandPolitics, df_Comedy, df_Trailers, df_NonprofitsandActivism, df_ScienceandTechnology, df_Movies, df_PetandAninals, df_AutosandVehicles, df_TravelandEvents into df_

import pandas as pd
df_ = pd.concat([df_Music, df_Entertainment, df_Education, df_Shows, df_PeopleandBlogs,
                 df_Gaming, df_Sports, df_FilmandAnimation, df_HowtoandStyle, df_NewsandPolitics,
                 df_Comedy, df_Trailers, df_NonprofitsandActivism, df_ScienceandTechnology, df_Movies,
                 df_PetsandAnimals, df_AutosandVehicles, df_TravelandEvents], axis=0)

In [ ]:
df_.shape

(931, 3)

In [ ]:
df.shape

(931, 3)

In [ ]:
# prompt: print unquie valus of cateogry

print(df_['Category'].unique())

['Music' 'Entertainment' 'Education' 'People' 'Games' 'Sports' 'Film'
 'News' 'Nonprofit' 'Tech' 'Animals' 'Autos']

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931 entries, 0 to 930
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     931 non-null    int64
 1   Youtuber                                 931 non-null    object
 2   Subscribers                              931 non-null    int64
 3   Video Views                              931 non-null    int64
 4   Uploads                                  931 non-null    int64
 5   Country                                  931 non-null    object
 6   Video Views Rank                         931 non-null    int64
 7   Country Rank                             931 non-null    int64
 8   Channel Type Rank                        931 non-null    int64
 9   Lowest Monthly Earnings                  931 non-null    float64
 10  Highest Monthly Earnings                 931 non-null    float64
 11  Lowest Yearly Earnings                   931 non-null    float64
 12  Highest Yearly Earnings                  931 non-null    float64
 13  Created Year                             931 non-null    int64
 14  Created Month                            931 non-null    object
 15  Created Date                             931 non-null    int64
 16  Gross Tertiary Education Enrollment (%)  931 non-null    float64
 17  Population                               931 non-null    int64
 18  Unemployment Rate                        931 non-null    float64
 19  Urban Population                         931 non-null    int64
 20  Region                                   931 non-null    object
 21  Youtube Creator Awards                   931 non-null    object
dtypes: float64(6), int64(11), object(5)
memory usage: 160.1+ KB

In [ ]:
# prompt: merge df_ and data by rank column

data = pd.merge(data, df_, on='Rank', how='left')

In [ ]:
data.head(10)

,Rank,Youtuber,Subscribers,Video Views,Uploads,Country,Video Views Rank,Country Rank,Channel Type Rank,Lowest Monthly Earnings,...,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population,Region,Youtube Creator Awards,Category,SubCategory
0,1,T-Series,245000000,228000000000,20082,India,1,1,1,564600.0,...,Mar,13,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Music,Music
1,3,MrBeast,166000000,28368841870,741,United States,48,1,1,337000.0,...,Feb,20,88.2,328239523,14.70,270663028,America,Red Diamond,Entertainment,Entertainment
2,4,Cocomelon - Nursery Rhymes,162000000,164000000000,966,United States,2,2,1,493800.0,...,Sep,1,88.2,328239523,14.70,270663028,America,Red Diamond,Education,Education
3,5,SET India,159000000,148000000000,116536,India,3,2,2,455900.0,...,Sep,20,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Entertainment,Shows
4,7,Kids Diana Show,112000000,93247040539,1111,United States,5,3,3,182900.0,...,May,12,88.2,328239523,14.70,270663028,America,Red Diamond,People,People & Blogs
5,8,PewDiePie,111000000,29058044447,4716,Japan,44,1,4,9800.0,...,Apr,29,63.2,126226568,2.29,115782416,Asia,Red Diamond,Games,Gaming
6,9,Like Nastya,106000000,90479060027,493,Russia,630,5,25,12200.0,...,Jan,14,81.9,144373535,4.59,107683889,Europe,Red Diamond,People,People & Blogs
7,10,Vlad and Niki,98900000,77180169894,574,United States,8,5,6,145100.0,...,Apr,23,88.2,328239523,14.70,270663028,America,Diamond,Entertainment,Entertainment
8,11,Zee Music Company,96700000,57856289381,8548,India,12,3,2,200900.0,...,Mar,12,28.1,1366417754,5.36,471031528,Asia,Diamond,Music,Music
9,12,WWE,96000000,77428473662,70127,United States,7,6,1,178700.0,...,May,11,88.2,328239523,14.70,270663028,America,Diamond,Sports,Sports

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931 entries, 0 to 930
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     931 non-null    int64
 1   Youtuber                                 931 non-null    object
 2   Subscribers                              931 non-null    int64
 3   Video Views                              931 non-null    int64
 4   Uploads                                  931 non-null    int64
 5   Country                                  931 non-null    object
 6   Video Views Rank                         931 non-null    int64
 7   Country Rank                             931 non-null    int64
 8   Channel Type Rank                        931 non-null    int64
 9   Lowest Monthly Earnings                  931 non-null    float64
 10  Highest Monthly Earnings                 931 non-null    float64
 11  Lowest Yearly Earnings                   931 non-null    float64
 12  Highest Yearly Earnings                  931 non-null    float64
 13  Created Year                             931 non-null    int64
 14  Created Month                            931 non-null    object
 15  Created Date                             931 non-null    int64
 16  Gross Tertiary Education Enrollment (%)  931 non-null    float64
 17  Population                               931 non-null    int64
 18  Unemployment Rate                        931 non-null    float64
 19  Urban Population                         931 non-null    int64
 20  Region                                   931 non-null    object
 21  Youtube Creator Awards                   931 non-null    object
 22  Category                                 931 non-null    object
 23  SubCategory                              931 non-null    object
dtypes: float64(6), int64(11), object(7)
memory usage: 174.7+ KB

In [ ]:
# prompt: print unique values of Category_y

print(data['Category'].unique())

['Music' 'Entertainment' 'Education' 'People' 'Games' 'Sports' 'Film'
 'News' 'Nonprofit' 'Tech' 'Animals' 'Autos']

In [ ]:
# prompt: change values of channel type from Howto & Style to Howto, Gaming to Games

data['Category'] = data['Category'].apply(lambda x: 'Tech' if x == 'Autos' else x)
data['Category'] = data['Category'].apply(lambda x: 'Entertainment' if x == 'Film' else x)
data['Category'] = data['Category'].apply(lambda x: 'Entertainment' if x == 'Music' else x)
data['Category'] = data['Category'].apply(lambda x: 'Entertainment' if x == 'Sports' else x)
data['Category'] = data['Category'].apply(lambda x: 'Entertainment' if x == 'Games' else x)

In [ ]:
# prompt: print unique values of Category_y

print(data['Category'].unique())

['Entertainment' 'Education' 'People' 'News' 'Nonprofit' 'Tech' 'Animals']

In [ ]:
data.head(10)

,Rank,Youtuber,Subscribers,Video Views,Uploads,Country,Video Views Rank,Country Rank,Channel Type Rank,Lowest Monthly Earnings,...,Created Month,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population,Region,Youtube Creator Awards,Category,SubCategory
0,1,T-Series,245000000,228000000000,20082,India,1,1,1,564600.0,...,Mar,13,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Entertainment,Music
1,3,MrBeast,166000000,28368841870,741,United States,48,1,1,337000.0,...,Feb,20,88.2,328239523,14.70,270663028,America,Red Diamond,Entertainment,Entertainment
2,4,Cocomelon - Nursery Rhymes,162000000,164000000000,966,United States,2,2,1,493800.0,...,Sep,1,88.2,328239523,14.70,270663028,America,Red Diamond,Education,Education
3,5,SET India,159000000,148000000000,116536,India,3,2,2,455900.0,...,Sep,20,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Entertainment,Shows
4,7,Kids Diana Show,112000000,93247040539,1111,United States,5,3,3,182900.0,...,May,12,88.2,328239523,14.70,270663028,America,Red Diamond,People,People & Blogs
5,8,PewDiePie,111000000,29058044447,4716,Japan,44,1,4,9800.0,...,Apr,29,63.2,126226568,2.29,115782416,Asia,Red Diamond,Entertainment,Gaming
6,9,Like Nastya,106000000,90479060027,493,Russia,630,5,25,12200.0,...,Jan,14,81.9,144373535,4.59,107683889,Europe,Red Diamond,People,People & Blogs
7,10,Vlad and Niki,98900000,77180169894,574,United States,8,5,6,145100.0,...,Apr,23,88.2,328239523,14.70,270663028,America,Diamond,Entertainment,Entertainment
8,11,Zee Music Company,96700000,57856289381,8548,India,12,3,2,200900.0,...,Mar,12,28.1,1366417754,5.36,471031528,Asia,Diamond,Entertainment,Music
9,12,WWE,96000000,77428473662,70127,United States,7,6,1,178700.0,...,May,11,88.2,328239523,14.70,270663028,America,Diamond,Entertainment,Sports

## **Finale**

In [ ]:
# https://docs.google.com/spreadsheets/d/1hz1zHoGmSjJJdD1n8XmKOq66kkfNRWKB/edit?usp=sharing&ouid=106225932452867633667&rtpof=true&sd=true
!gdown --id 1hz1zHoGmSjJJdD1n8XmKOq66kkfNRWKB

/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:132: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1hz1zHoGmSjJJdD1n8XmKOq66kkfNRWKB
To: /content/finaleGYS.xlsx
100% 314k/314k [00:00<00:00, 103MB/s]

In [ ]:
gys = pd.read_excel('/content/finaleGYS.xlsx', 'OriginalGYS')
gys.head(10)

,Rank,Youtuber,Subscribers,Video Views,Uploads,Country,Video Views Rank,Country Rank,Channel Type Rank,Lowest Monthly Earnings,...,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population,Region,Youtube Creator Awards,Category,SubCategory,TypeofYoutuber
0,1,T-Series,245000000,228000000000,20082,India,1,1,1,564600.0,...,13,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Entertainment,Music,Company
1,3,MrBeast,166000000,28368841870,741,United States,48,1,1,337000.0,...,20,88.2,328239523,14.70,270663028,America,Red Diamond,Entertainment,Entertainment,Individual
2,4,Cocomelon - Nursery Rhymes,162000000,164000000000,966,United States,2,2,1,493800.0,...,1,88.2,328239523,14.70,270663028,America,Red Diamond,Education,Education,Company
3,5,SET India,159000000,148000000000,116536,India,3,2,2,455900.0,...,20,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Entertainment,Shows,Company
4,7,Kids Diana Show,112000000,93247040539,1111,United States,5,3,3,182900.0,...,12,88.2,328239523,14.70,270663028,America,Red Diamond,People,People & Blogs,Company
5,8,PewDiePie,111000000,29058044447,4716,Japan,44,1,4,9800.0,...,29,63.2,126226568,2.29,115782416,Asia,Red Diamond,Entertainment,Gaming,Individual
6,9,Like Nastya,106000000,90479060027,493,Russia,630,5,25,12200.0,...,14,81.9,144373535,4.59,107683889,Europe,Red Diamond,People,People & Blogs,Individual
7,10,Vlad and Niki,98900000,77180169894,574,United States,8,5,6,145100.0,...,23,88.2,328239523,14.70,270663028,America,Diamond,Entertainment,Entertainment,Group
8,11,Zee Music Company,96700000,57856289381,8548,India,12,3,2,200900.0,...,12,28.1,1366417754,5.36,471031528,Asia,Diamond,Entertainment,Music,Company
9,12,WWE,96000000,77428473662,70127,United States,7,6,1,178700.0,...,11,88.2,328239523,14.70,270663028,America,Diamond,Entertainment,Sports,Company

In [ ]:
gys['TypeofYoutuber'].nunique()

3

In [ ]:
gys['TypeofYoutuber'].unique()

array(['Company', 'Individual', 'Group'], dtype=object)

In [ ]:
gys[['Rank', 'Youtuber', 'TypeofYoutuber']].head(10)

   Rank                    Youtuber TypeofYoutuber
0     1                    T-Series        Company
1     3                     MrBeast     Individual
2     4  Cocomelon - Nursery Rhymes        Company
3     5                   SET India        Company
4     7             Kids Diana Show        Company
5     8                   PewDiePie     Individual
6     9                 Like Nastya     Individual
7    10               Vlad and Niki          Group
8    11           Zee Music Company        Company
9    12                         WWE        Company

## EDA

In [ ]:
gys.head(10)

,Rank,Youtuber,Subscribers,Video Views,Uploads,Country,Video Views Rank,Country Rank,Channel Type Rank,Lowest Monthly Earnings,...,Created Date,Gross Tertiary Education Enrollment (%),Population,Unemployment Rate,Urban Population,Region,Youtube Creator Awards,Category,SubCategory,TypeofYoutuber
0,1,T-Series,245000000,228000000000,20082,India,1,1,1,564600.0,...,13,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Entertainment,Music,Company
1,3,MrBeast,166000000,28368841870,741,United States,48,1,1,337000.0,...,20,88.2,328239523,14.70,270663028,America,Red Diamond,Entertainment,Entertainment,Individual
2,4,Cocomelon - Nursery Rhymes,162000000,164000000000,966,United States,2,2,1,493800.0,...,1,88.2,328239523,14.70,270663028,America,Red Diamond,Education,Education,Company
3,5,SET India,159000000,148000000000,116536,India,3,2,2,455900.0,...,20,28.1,1366417754,5.36,471031528,Asia,Red Diamond,Entertainment,Shows,Company
4,7,Kids Diana Show,112000000,93247040539,1111,United States,5,3,3,182900.0,...,12,88.2,328239523,14.70,270663028,America,Red Diamond,People,People & Blogs,Company
5,8,PewDiePie,111000000,29058044447,4716,Japan,44,1,4,9800.0,...,29,63.2,126226568,2.29,115782416,Asia,Red Diamond,Entertainment,Gaming,Individual
6,9,Like Nastya,106000000,90479060027,493,Russia,630,5,25,12200.0,...,14,81.9,144373535,4.59,107683889,Europe,Red Diamond,People,People & Blogs,Individual
7,10,Vlad and Niki,98900000,77180169894,574,United States,8,5,6,145100.0,...,23,88.2,328239523,14.70,270663028,America,Diamond,Entertainment,Entertainment,Group
8,11,Zee Music Company,96700000,57856289381,8548,India,12,3,2,200900.0,...,12,28.1,1366417754,5.36,471031528,Asia,Diamond,Entertainment,Music,Company
9,12,WWE,96000000,77428473662,70127,United States,7,6,1,178700.0,...,11,88.2,328239523,14.70,270663028,America,Diamond,Entertainment,Sports,Company

In [ ]:
gys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     930 non-null    int64
 1   Youtuber                                 930 non-null    object
 2   Subscribers                              930 non-null    int64
 3   Video Views                              930 non-null    int64
 4   Uploads                                  930 non-null    int64
 5   Country                                  930 non-null    object
 6   Video Views Rank                         930 non-null    int64
 7   Country Rank                             930 non-null    int64
 8   Channel Type Rank                        930 non-null    int64
 9   Lowest Monthly Earnings                  930 non-null    float64
 10  Highest Monthly Earnings                 930 non-null    float64
 11  Lowest Yearly Earnings                   930 non-null    float64
 12  Highest Yearly Earnings                  930 non-null    float64
 13  Created Year                             930 non-null    int64
 14  Created Month                            930 non-null    object
 15  Created Date                             930 non-null    int64
 16  Gross Tertiary Education Enrollment (%)  930 non-null    float64
 17  Population                               930 non-null    int64
 18  Unemployment Rate                        930 non-null    float64
 19  Urban Population                         930 non-null    int64
 20  Region                                   930 non-null    object
 21  Youtube Creator Awards                   930 non-null    object
 22  Category                                 930 non-null    object
 23  SubCategory                              930 non-null    object
 24  TypeofYoutuber                           930 non-null    object
dtypes: float64(6), int64(11), object(8)
memory usage: 181.8+ KB

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931 entries, 0 to 930
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     931 non-null    int64
 1   Youtuber                                 931 non-null    object
 2   Subscribers                              931 non-null    int64
 3   Video Views                              931 non-null    int64
 4   Uploads                                  931 non-null    int64
 5   Country                                  931 non-null    object
 6   Video Views Rank                         931 non-null    int64
 7   Country Rank                             931 non-null    int64
 8   Channel Type Rank                        931 non-null    int64
 9   Lowest Monthly Earnings                  931 non-null    float64
 10  Highest Monthly Earnings                 931 non-null    float64
 11  Lowest Yearly Earnings                   931 non-null    float64
 12  Highest Yearly Earnings                  931 non-null    float64
 13  Created Year                             931 non-null    int64
 14  Created Month                            931 non-null    object
 15  Created Date                             931 non-null    int64
 16  Gross Tertiary Education Enrollment (%)  931 non-null    float64
 17  Population                               931 non-null    int64
 18  Unemployment Rate                        931 non-null    float64
 19  Urban Population                         931 non-null    int64
 20  Region                                   931 non-null    object
 21  Youtube Creator Awards                   931 non-null    object
 22  Category                                 931 non-null    object
 23  SubCategory                              931 non-null    object
dtypes: float64(6), int64(11), object(7)
memory usage: 174.7+ KB

In [ ]:
gys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     930 non-null    int64
 1   Youtuber                                 930 non-null    object
 2   Subscribers                              930 non-null    int64
 3   Video Views                              930 non-null    int64
 4   Uploads                                  930 non-null    int64
 5   Country                                  930 non-null    object
 6   Video Views Rank                         930 non-null    int64
 7   Country Rank                             930 non-null    int64
 8   Channel Type Rank                        930 non-null    int64
 9   Lowest Monthly Earnings                  930 non-null    float64
 10  Highest Monthly Earnings                 930 non-null    float64
 11  Lowest Yearly Earnings                   930 non-null    float64
 12  Highest Yearly Earnings                  930 non-null    float64
 13  Created Year                             930 non-null    int64
 14  Created Month                            930 non-null    object
 15  Created Date                             930 non-null    int64
 16  Gross Tertiary Education Enrollment (%)  930 non-null    float64
 17  Population                               930 non-null    int64
 18  Unemployment Rate                        930 non-null    float64
 19  Urban Population                         930 non-null    int64
 20  Region                                   930 non-null    object
 21  Youtube Creator Awards                   930 non-null    object
 22  Category                                 930 non-null    object
 23  SubCategory                              930 non-null    object
 24  TypeofYoutuber                           930 non-null    object
dtypes: float64(6), int64(11), object(8)
memory usage: 181.8+ KB

In [ ]:
gys['Country'].unique()

array(['India', 'United States', 'Japan', 'Russia', 'South Korea',
       'Unknown', 'United Kingdom', 'Canada', 'Brazil', 'Argentina',
       'Chile', 'Cuba', 'El Salvador', 'Pakistan', 'Philippines',
       'Thailand', 'Colombia', 'Barbados', 'Mexico',
       'United Arab Emirates', 'Spain', 'Indonesia', 'Turkey',
       'Venezuela', 'Kuwait', 'Jordan', 'Netherlands', 'Australia',
       'Italy', 'Germany', 'Saudi Arabia', 'France', 'Sweden', 'Ukraine',
       'Latvia', 'Switzerland', 'Vietnam', 'Malaysia', 'China', 'Iraq',
       'Singapore', 'Egypt', 'Andorra', 'Ecuador', 'Morocco', 'Peru',
       'Bangladesh', 'Finland', 'Samoa'], dtype=object)